@import "base-includes";

.hs-form {
	label {
		@include subtitle-2(false);

		display: block;
		margin-bottom: rem(4);
	}

	.hs-error-msgs {
		@include subtitle-3(false);

		display: flex;
		flex-direction: row;
		align-items: center;
		margin-top: rem(4);
		margin-bottom: 0;
		padding: 0;
		color: paint(error);
		list-style: none;

		label {
			@include subtitle-3(false);
		}
	}

	fieldset {
		display: grid;
		grid-template-columns: 1fr;
		column-gap: $input-column-gap;
		max-width: none !important;

		&.form-columns-2 {
			@include media-breakpoint-up(sm) {
				grid-template-columns: 1fr 1fr;
			}
		}

		&.form-columns-3 {
			@include media-breakpoint-up(sm) {
				grid-template-columns: 1fr 1fr 1fr;
			}
		}

		&.form-columns-4 {
			@include media-breakpoint-up(sm) {
				grid-template-columns: 1fr 1fr 1fr 1fr;
			}
		}

		&.form-columns-5 {
			@include media-breakpoint-up(sm) {
				grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
			}
		}

		.input {
			margin: 0 !important;
		}

		.hs-form-field {
			float: none !important;
			width: 100% !important;
		}
	}
}

.hs-fieldtype-checkbox,
.hs-fieldtype-radio {
	> label {
		display: block;
		margin-bottom: rem(16);
	}
}

.hbspt-form ul[role="checkbox"],
.hbspt-form ul[role="radio"],
.hs_single_checkbox ul {
	@include checkbox-radio-wrapper;

	margin: 0 !important;
	padding: 0;
	list-style-type: none;

	input[type="radio"],
	input[type="checkbox"] {
		&:focus {
			~ label {
				&::before {
					border-color: paint(button-default);
				}
			}
		}
	}

	li {
		margin-bottom: 0 !important;
	}

	br {
		display: none;
	}
}

.hs-input {
	width: 100% !important;
}

.hs-form-booleancheckbox {
	padding: 0;
	list-style: none;
}

.hs-form-required {
	color: paint(error);
}

.hs-form-checkbox-display,
.hs-form-radio-display,
.hs-form-booleancheckbox-display {
	> span {
		@include subtitle-1(true);

		display: flex !important;
		margin-bottom: rem(16) !important;
		margin-left: 0 !Important;
		cursor: pointer;

		&:hover,
		&:focus {
			&::before {
				color: paint(button-default);
				border-color: paint(button-default);

				@include alt-text-selectors() {
					color: paint(neutral-8);
				}
			}
		}
	}
}

.hs-form-checkbox-display,
.hs-form-booleancheckbox-display {
	> span {
		@include checkbox-label;
	}

	input {
		&:checked {
			~ span {
				&::before {
					@include icon("check-box-active", #{rem(20)}, false);
				}
			}
		}
	}
}

.hs-form-booleancheckbox-display {
	> span {
		display: block !important;
		padding-left: rem(34);

		&::after {
			position: absolute;
			top: rem(6);
			left: rem(6);
		}
	}
}

.hs-form-radio-display {
	> span {
		@include radio-label;
	}

	input {
		&:checked {
			~ span {
				&::before {
					@include icon("radio-button-active", #{rem(20)}, false);
				}
			}
		}
	}
}

.hs-submit {
	margin-top: responsive-values(8, 24);

	.block-footer-column & {
		margin-top: rem(12);
	}
}

.hs-button {
	@include button-primary;

	.block-footer-column & {
		width: 100%;
	}
}

.hs-form-field {
	display: flex;
	flex-direction: column;
	margin-bottom: rem(24) !important;
	line-height: rem(24);

	.block-footer-column & {
		margin-bottom: rem(12) !important;

		label {
			@include sr-only;
		}
	}
}

.hs-fieldtype-booleancheckbox {
	margin-bottom: 0 !important;

	.inputs-list {
		padding: 0;
		list-style: none;
	}
}

.hubspot-link__container {
	display: none;
}

.hs-field-desc {
	@include subtitle-3(false);

	order: 99;
	margin-top: rem(8);
	margin-bottom: 0;
}

.hs-richtext {
	@include subtitle-2;
}
