@import "base-includes";

.editor-styles-wrapper {
	.block-alert-bottom {
		position: relative;
		bottom: auto;
		right: auto;
		z-index: 1;
		max-width: rem(375) !important;
		visibility: visible;
		opacity: 1;

		@include media-breakpoint-up(md) {
			left: calc(100% - rem(375));
		}
	}
}
