@import "base-includes";

.block-alert-bottom {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 15;
	display: block;
	width: 100%;
	padding: rem(24 20 32 20);
	visibility: visible;
	opacity: 1;
	transition: opacity $transition-standard, visibility 0s;

	&--hidden {
		visibility: hidden;
		opacity: 0;
		transition: opacity $transition-standard, visibility 0s 0.2s;
	}

	@include media-breakpoint-up(sm) {
		bottom: responsive-values(20, 48);
		right: responsive-values(20, 48);
		width: rem(375);
	}

	&:not(.block-alert-bottom--hidden) {
		~ .block-alert-bottom {
			visibility: hidden;
			opacity: 0;
			transition: opacity $transition-standard, visibility 0s 0.2s;
		}
	}

	.wp-block-heading {
		@include title-1;
	}

	p {
		@include subtitle-1;
	}

	&__close-button {
		@include button-primary;

		display: flex;
		width: 100%;
		margin-top: rem(24);
	}
}
