@import "base-includes";

.filter-tabs {
	@include media-breakpoint-down(sm) {
		border-bottom: rem(1) solid paint(neutral-9);
	}

	&__select {
		@include link-1(false);

		position: relative;
		display: block;
		width: 100%;
		height: rem(48);
		padding: rem(12 35 12 12);
		color: paint(neutral-1);
		text-align: left;
		border: none;
		background: none;

		@include media-breakpoint-up(md) {
			display: none;
		}

		&::after {
			@include icon("chev-expand", #{rem(20)});

			position: absolute;
			top: 50%;
			right: rem(8);
			transform: translateY(-50%);
		}
	}

	&.open &__select {
		&::after {
			@include icon("chev-collapse", #{rem(20)});
		}
	}

	&__container {
		display: flex;

		@include media-breakpoint-down(sm) {
			display: none;
			padding-bottom: rem(20);
		}

		.filters-top & {
			flex-direction: column;
			align-items: flex-start;

			@include media-breakpoint-up(md) {
				flex-direction: row;
				flex-wrap: nowrap;
				column-gap: rem(34);
				border-bottom: rem(1) solid paint(neutral-9);
			}
		}

		.filters-side & {
			flex-direction: column;
			align-items: flex-start;
		}
	}

	&.open &__container {
		@include media-breakpoint-down(sm) {
			display: block;
		}
	}

	&__tab {
		@include subtitle-1(false);

		position: relative;
		padding: 0;
		color: paint(neutral-1);
		text-align: left;
		border: none;
		background: none;
		transition: background-color $transition-standard;

		@include media-breakpoint-down(sm) {
			display: block;
			width: 100%;
			padding: rem(8 12);
			text-align: left;
			border: none;
		}

		@include media-breakpoint-up(md) {
			@include link-1(false);

			padding: rem(12) 0;
		}

		&:hover,
		&:focus {
			background-color: paint(neutral-11);

			@include media-breakpoint-up(md) {
				background: none;
			}
		}

		&.selected {
			@include media-breakpoint-down(sm) {
				background-color: paint(neutral-11);
			}
		}

		.block-filter-top & {
			&.selected {
				@include media-breakpoint-down(sm) {
					background-color: paint(neutral-11);
				}

				&::after {
					@include media-breakpoint-up(md) {
						position: absolute;
						left: 0;
						bottom: rem(-1);
						content: "";
						width: 100%;
						height: rem(1);
						background-color: paint(neutral-1);
					}
				}
			}
		}

		.block-filter-side & {
			@include media-breakpoint-up(md) {
				width: 100%;
				padding: rem(8 12);
			}

			&:hover,
			&:focus,
			&.selected {
				background-color: paint(neutral-11);
			}
		}
	}
}
