@import "base-includes";

.search-hero {
	padding: responsive-values(136, 192) 0 $block-spacing;

	&__search-field {
		position: relative;
		width: 100%;
		margin-bottom: rem(24);
	}

	&__results {
		@include subtitle-2;
	}

	&__submit,
	&__clear {
		position: absolute;
		top: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		color: paint(neutral-6);
		border: none;
		background: none;
		-webkit-appearance: none;
		transition: color $transition-standard;

		&:hover,
		&:focus {
			color: paint(button-hover);
		}
	}

	&__submit {
		width: rem(40);
		padding: 0;
		padding-right: rem(8);
		padding-left: rem(12);

		&::before {
			@include icon("search", rem(20));
		}
	}

	&__clear {
		right: 0;
		width: rem(44);
		padding-right: rem(16);
		padding-left: rem(8);
		opacity: 0;
		pointer-events: none;
		transition: opacity $transition-standard;

		&::before {
			@include icon("cancel", rem(20));
		}
	}

	&__input {
		padding-right: rem(44) !important;
		padding-left: rem(40) !important;
		background-image: none !important;

		&:valid {
			~ .search-hero__clear {
				opacity: 1;
				pointer-events: auto;
			}
		}

		&::-webkit-search-decoration,
		&::-webkit-search-cancel-button,
		&::-webkit-search-results-button,
		&::-webkit-search-results-decoration {
			-webkit-appearance: none;
		}
	}
}

#main .search-results {
	padding-bottom: $block-spacing;

	&__pagination {
		margin-top: responsive-values(48, 72);
	}

	&__no-results {
		padding: $block-spacing-with-text rem(20) $block-spacing;
		text-align: center;
		background-color: paint(neutral-11);

		.wp-block-buttons {
			justify-content: center;
		}
	}
}

.search-result {
	display: grid;
	grid-template-columns: minmax(0, 1fr) responsive-values(72, 144);
	column-gap: responsive-values(20, 64);
	align-items: center;
	margin-bottom: responsive-values(32, 48);
	padding-bottom: responsive-values(32, 48);
	color: paint(neutral-1);
	border-bottom: rem(1) solid paint(neutral-9);

	&:last-of-type {
		margin-bottom: 0;
		padding-bottom: 0;
		border-bottom: none;
	}

	&__subtitle {
		@include subtitle-3( false );

		margin-bottom: rem(4);
		color: paint(neutral-6);
	}

	&__title {
		@include title-1( false );

		margin: 0 0 rem(8) 0;
	}

	&__excerpt {
		@include subtitle-1( false );

		@include line-clamp(3);

		color: paint(neutral-1);

		@include media-breakpoint-down(sm) {
			@include line-clamp(2);
		}

		p {
			@include subtitle-1( false );
		}
	}

	&__image-wrapper {
		width: 100%;
		padding-bottom: 100%;
		border-radius: responsive-values(16, 24);
	}
}
