@import "base-includes";

.search-hero {
	$icon-size: rem(20);

	padding: rem(96) 0 responsive-values(64, 96);

	&__search-form {
		padding: 0 !important;

		.search-field {
			display: flex;
			flex-direction: row;
			gap: rem(8);
			align-items: center;
			padding: rem(12 16 12 12);
			border: rem(1) solid paint(button-default);
			border-radius: rem(100);
			background: paint(white);

			.icon-search {
				width: $icon-size;
				height: $icon-size;
				min-width: $icon-size;
				color: paint(neutral-6);
			}

			&__input {
				padding: 0;
				color: paint(neutral-1);
				border: none;

				&:focus {
					border: none;
					outline: none;
				}

				&:valid {
					+ .search-field__clear {
						display: flex;
					}
				}
			}

			&__clear {
				display: none;
				justify-content: center;
				align-items: center;
				height: $icon-size;
				min-width: $icon-size;
				padding: 0;
				color: paint(white);
				border: none;
				border-radius: 100%;
				background: paint(neutral-6);

				.icon {
					width: rem(14);
					height: rem(14);
				}
			}
		}

		.result-found-text,
		.no-result-text {
			margin-top: rem(24);

			p {
				@include subtitle-2(false);

				color: paint(neutral-1);
			}
		}
	}
}

.search-content {
	&__wrapper {
		padding-top: 0 !important;
	}

	.search-results {
		padding-bottom: 0;

		&__pagination {
			margin-top: responsive-values(48, 72);
		}

		&__no-results {
			padding: $block-spacing-with-text rem(20) $block-spacing;
			text-align: center;
			background-color: paint(neutral-11);

			.wp-block-buttons {
				justify-content: center;
			}
		}

		.search-result {
			display: grid;
			grid-template-columns: minmax(0, 1fr) responsive-values(72, 144);
			column-gap: responsive-values(20, 64);
			align-items: center;
			margin-bottom: responsive-values(32, 48);
			padding-bottom: responsive-values(32, 48);
			color: paint(neutral-1);
			border-bottom: rem(1) solid paint(neutral-8);

			&--no-image {
				display: flex;
				flex-direction: row;

				.search-result__text {
					padding: 0;
				}
			}

			&:last-of-type {
				margin-bottom: 0;
				padding-bottom: 0;
				border-bottom: none;
			}

			&__text {
				padding: responsive-values(2, 10) 0;
			}

			&__post-type {
				@include subtitle-3( false );

				margin-bottom: rem(4);
				color: paint(neutral-6);
			}

			&__title {
				@include title-1( false );

				margin: 0 0 rem(8);
				color: paint(neutral-1);

				a {
					color: paint(neutral-1);
					text-decoration: none;

					&:hover {
						color: paint(neutral-1);
						text-decoration: underline;
					}
				}
			}

			&__excerpt {
				@include subtitle-1( false );

				@include line-clamp(3);

				color: paint(neutral-3);

				@include media-breakpoint-down(sm) {
					@include line-clamp(2);
				}

				p {
					@include subtitle-1( false );
				}
			}

			&__image {
				justify-self: end;
				border-radius: responsive-values(16, 24);
				overflow: hidden;

				a {
					display: inline-block;
				}

				img {
					object-fit: cover;
				}

				a,
				img {
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}

.search-no-results:not(body) {
	padding: $block-spacing-with-text rem(20) $block-spacing;
	border-radius: rem(32);
	background-color: paint(neutral-11);

	.no-result {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;

		&__heading {
			margin-bottom: rem(16);
			color: paint(neutral-1);
		}

		&__para {
			margin-bottom: rem(32);

			p {
				@include body-2( false );

				color: paint(neutral-3);
			}
		}

		&__buttons {
			display: flex;
			gap: rem(16);
			justify-content: center;
			align-items: center;

			.no-result-btn {
				.wp-block-button__link {
					@include link-1( false );

					padding-bottom: rem(3);
					color: paint(button-default);
					border-bottom: rem(2) solid paint(button-default);

					&:hover {
						color: paint(button-hover);
						border-bottom-color: paint(button-hover);
					}
				}
			}
		}
	}
}

.search-pagination {
	.pagination {
		gap: rem(6);

		&__item {
			.pagination__item-inner {
				@include link-1( false );

				display: inline-flex;
				justify-content: center;
				align-items: center;
				width: rem(40);
				height: rem(40);
				padding: rem(5) rem(5) rem(8);
				color: paint(neutral-1);
				border-radius: 50%;

				&:hover {
					color: paint(neutral-1);
					background-color: paint(neutral-10);
				}
			}
		}

		&__item--current {
			.pagination__item-inner {
				color: paint(white);
				background-color: paint(neutral-1);

				&:hover {
					color: paint(white);
					background-color: paint(neutral-1);
				}
			}
		}

		&__item--next,
		&__item--prev {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			margin: rem(0 2);

			.pagination__item-inner {
				&:hover {
					background: none;
				}
			}

			.pagination__link {
				color: paint(neutral-1);
			}
		}
	}
}
