@import "base-includes";

.editor-styles-wrapper {
	.block-hero-display {
		&.block-editor-block-list__block {
			&::before {
				inset: unset;
				z-index: unset;
				background: unset;
				pointer-events: unset;
			}
		}

		&__inner {
			position: relative;

			.wp-block-button {
				&.is-style-secondary {
					position: absolute;
					left: rem(251);
					bottom: rem(36);
				}
			}
		}
	}
}
