@import "base-includes";

.block-hero-display {
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin-top: calc((var(--header-height) + var(--alert-height)) * -1);
	padding: rem(178 0 156);
	overflow: hidden;

	@include media-breakpoint-up(md) {
		min-height: responsive-values(670, 861);
		padding: $block-spacing 0;
	}

	&::before {
		position: absolute;
		top: 0;
		content: " ";
		width: 100%;
		height: 100%;
		background-color: paint(black);
		opacity: 0.65;
	}

	.parent-bg-div {
		position: absolute;
		bottom: rem(-31);

		@include media-breakpoint-up(lg) {
			bottom: 0;
		}

		svg {
			width: 100%;
			fill: paint(white);

			@include media-breakpoint-up(lg) {
				width: auto;
			}
		}
	}

	.acf-block__background {
		&-image-wrapper {
			display: block;

			img {
				border-radius: 0;
			}
		}

		&-video-wrapper {
			display: block;

			iframe {
				pointer-events: none;
			}
		}
	}

	#page:has(.acf-block.bg-dark.is-style-large[class*="hero"]) &,
	body.home & {
		margin-top: 0;
		transform: translateY(calc(var(--header-height, #{rem(64)}) * -1));

		@include media-breakpoint-up(md) {
			margin-top: 0;
			padding-top: calc(var(--header-height, #{rem(72)}));
			transform: translateY(calc(var(--header-height, #{rem(72)}) * -1));
		}
	}

	&__container {
		position: relative;
		max-width: rem(865);
		padding-right: 0;
		padding-left: 0;
		text-align: center;

		@include media-breakpoint-up(md) {
			padding-top: rem(64);
		}

		p {
			max-width: max-content;
			margin: 0 auto;
			padding: rem(6) rem(22);
			color: paint(black);
			text-align: center;
			text-transform: uppercase;
			border-radius: rem(25);
			background: paint(white);
		}

		.wp-block-buttons {
			justify-content: center;
		}

		.block-hero-display__content {
			padding: rem(6) rem(22);
		}
	}
}
