@import "base-includes";

.block-hero-display {
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin-top: calc((var(--header-height) + var(--alert-height)) * -1);
	padding: rem(178 0 156);
	overflow: hidden;

	@include media-breakpoint-up(md) {
		min-height: responsive-values(670, 861);
		padding: $block-spacing 0;
	}

	&::before {
		position: absolute;
		inset: 0;
		content: " ";
		z-index: -1;
		background: linear-gradient(270deg, rgba(12, 24, 49, 0) 43.84%, rgba(12, 24, 49, 0.35) 81.4%), linear-gradient(180deg, rgba(12, 24, 49, 0.2) 1.16%, rgba(12, 24, 49, 0) 15.27%), linear-gradient(180deg, rgba(0, 16, 49, 0.7) 49.94%, rgba(0, 93, 115, 0.7) 100%);
		background-blend-mode: multiply, darken, normal;
		pointer-events: none;
	}

	.acf-block__background {
		&-image-wrapper {
			display: block;
		}

		&-video-wrapper {
			display: block;

			iframe {
				pointer-events: none;
			}
		}
	}

	#page:has(.acf-block.bg-dark.is-style-large[class*="hero"]) &,
	body.home & {
		margin-top: 0;
		transform: translateY(calc(var(--header-height, #{rem(64)}) * -1));

		@include media-breakpoint-up(md) {
			margin-top: 0;
			padding-top: calc(var(--header-height, #{rem(72)}));
			transform: translateY(calc(var(--header-height, #{rem(72)}) * -1));
		}
	}

	&__container {
		@include media-breakpoint-up(md) {
			padding-top: rem(64);
		}
	}

	&__inner {
		display: block;

		@include media-breakpoint-up(sm) {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			max-width: 60%;
		}

		.wp-block-buttons {
			margin-top: 0;
			margin-bottom: rem(12);

			@include media-breakpoint-up(sm) {
				margin-right: rem(16);
				margin-bottom: 0;
			}
		}

		.wp-block-button {
			margin-top: 0;
			margin-bottom: 0;

			@include media-breakpoint-up(sm) {
				margin-right: 0;
				margin-left: 0;
			}

			&.is-style-secondary {
				.wp-block-button__link {
					&::after {
						@include icon("play", #{rem(20)});

						position: relative;
						top: rem(1);
						margin-left: rem(4);
					}
				}
			}
		}

		.wp-block-heading {
			width: 100%;
			margin-bottom: rem(28);
		}

		.has-overline-font-size {
			display: inline-block;
			padding: rem(4) rem(8);
			color: paint(white);
			background: rgba(153, 102, 0, 0.5);
		}
	}

	&.is-style-small {
		min-height: unset;
		margin: 0;
		padding: rv(48, 96) 0 rv(48, 108);

		&::before {
			background: linear-gradient(0deg, rgba(12, 24, 49, 0.75) 0%, rgba(12, 24, 49, 0.75) 100%);
		}

		.block-hero-display__container {
			@include media-breakpoint-up(md) {
				padding-top: 0;
			}
		}

		.block-hero-display__inner {
			max-width: 100%;

			@include media-breakpoint-up(md) {
				max-width: rem(500);
			}

			@include media-breakpoint-up(lg) {
				max-width: rem(864);
			}

			.wp-block-heading {
				@include t1(false);

				margin-bottom: 0;
			}
		}

		.wp-block-buttons {
			display: none;
		}

		.wp-block-button {
			&.component-video {
				display: none;
			}
		}
	}

	&.is-style-large {
		+ .acf-block.block-text-centered:not(.is-style-center) {
			margin-top: calc(var(--header-height, rem(64)) * -1);

			@include media-breakpoint-up(md) {
				margin-top: calc(var(--header-height, rem(72)) * -1);
			}
		}
	}
}
