@import "base-includes";

.editor-styles-wrapper {
	.block-navigation-featured-link-column {
		@include media-breakpoint-up(lg) {
			padding: responsive-values(32, 48) rem(32) !important;
		}
	}

	.wp-block[data-title="Navigation-Featured-Link-Column"] {
		&::before {
			content: "Featured-Column" !important;
		}
	}
}
