@import "base-includes";

.block-hero-campaign-text {
	padding-top: responsive-values(152, 192);

	[type="submit"] {
		width: 100%;
	}

	&__container {
		@include grid();

		row-gap: responsive-values(48, 72);
		align-items: flex-start;
	}

	.block-content {
		grid-column: 1 / span 12;
		width: 100%;

		@include media-breakpoint-up(lg) {
			grid-column-end: span 8;
		}
	}

	.wp-block-image {
		@include media-breakpoint-down(sm) {
			margin-right: var(--negativeGutterWidth);
			margin-left: var(--negativeGutterWidth);
		}

		img,
		picture {
			body.post-type-archive-library_block & {
				@include media-breakpoint-down(xs) {
					height: rem(210.45);
				}
			}
		}
	}

	.block-form {
		grid-column: 1 / span 12;
		width: 100%;

		@include media-breakpoint-up(lg) {
			grid-area: 2 / 9 / span 1 / span 4;
		}

		@include media-breakpoint-up(xxl) {
			grid-column: 10 / span 3;
		}

		.wp-block-heading {
			@include t3;
		}
	}
}
