@import "base-includes";

.post-password-form {
	text-align: center;

	&__parent-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin: rem(30 0 100);
	}

	&__container {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 50%;
	}

	&__content {
		text-align: left;
	}

	&__code {
		text-transform: uppercase;
	}

	&__code-help {
		cursor: pointer;
	}

	&__label {
		display: flex;

		@include media-breakpoint-down(xs) {
			width: 100%;
		}
	}

	&__label-container {
		margin-bottom: 0;
	}
}
