@import "base-includes";

.block-alert-top {
	position: sticky;
	top: var(--adminbar-height);
	z-index: 15;
	display: block;
	width: 100%;
	padding: rem(7 0 9);
	text-align: center;

	&__close {
		position: absolute;
		top: 50%;
		right: var(--gutterWidth);
		padding: 0;
		border: none;
		background: none;
		transform: translateY(-50%);

		.alert-cancel {
			position: relative;

			&--overlay {
				position: absolute;
				top: 50%;
				z-index: -1;
				width: 75%;
				height: 70%;
				transform: translate(-50%, -50%);
			}

			.icon {
				width: rem(16);
				height: rem(16);
				color: paint(white);
			}
		}
	}

	p {
		@include subtitle-3;

		a {
			color: paint(white) !important;

			&:hover,
			&:focus {
				color: paint(neutral-11) !important;
			}
		}
	}
}
