@import "base-includes";

.block-navigation-contact-information {
	display: flex;
	height: rem(62);
	color: paint(white);
	transform: translateX(100%);
	transition: transform 0.3s ease-out, opacity 0.2s linear, visibility 0s 0.2s;

	@include media-breakpoint-down(md) {
		position: relative;
		top: rem(340);
		left: 0;
		z-index: 200;
		width: 100%;
		padding: rem(12) 0;
		visibility: hidden;
		opacity: 0;
		transition: opacity 0.2s linear, visibility 0s 0.2s;
	}

	@include media-breakpoint-up(lg) {
		display: none;
	}

	&.active {
		visibility: visible;
		opacity: 1;
		transform: translateX(0);
		transition: transform 0.3s ease-out, opacity 0.2s linear, visibility 0s;

		.block-navigation__utility-nav {
			.utility-nav__link {
				.wp-block-buttons {
					.is-style-social {
						.wp-block-button__link {
							&::after {
								background-color: paint(white);
							}
						}
					}
				}
			}
		}
	}

	body:has(.block-hero-display) & {
		background-color: transparent !important;
	}

	.block-navigation__utility-nav {
		body:has(.block-hero-display) & {
			max-width: rem(1890);
		}

		.utility-nav__link {
			.wp-block-list {
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				gap: rem(10);
				margin: 0;
				padding-left: rem(18);

				li {
					position: relative;
					margin-bottom: 0;
					padding-left: rem(8);
					color: paint(white);
					font-size: rem(14);

					&::before {
						display: none;
					}

					&:first-child {
						&::before {
							@include icon("location", #{rem(16)});

							position: absolute;
							top: rem(6);
							right: rem(-13);
							content: "";
							display: block;
						}
					}

					&:last-child {
						&::before {
							@include icon("phone", #{rem(16)});

							position: absolute;
							top: rem(6);
							right: rem(-13);
							content: "";
							display: block;
						}
					}

					a {
						color: paint(white);
						text-decoration: none;
					}
				}
			}

		}

		.wp-block-buttons {
			margin: 0;

			.wp-block-button {
				&:not(:last-child, .is-style-social) {
					position: relative;

					&::after {
						position: absolute;
						top: rem(1);
						right: rem(-13);
						content: "";
						display: block;
						width: rem(1);
						height: calc(100% - rem(2));
						background-color: paint(white);
					}
				}

				&:not(.is-style-social) {
					margin: 0;

					.wp-block-button__link {
						color: paint(white);

						&::after {
							background: paint(white);
						}

						&:hover::after {
							color: paint(white);
						}
					}

					a {
						@include nav-3;

						color: paint(white);

						&::before {
							display: none;
						}
					}
				}
			}

			.is-style-social {
				margin: rem(-3) 0 0 !important;

				.wp-block-button__link {
					color: paint(white);
				}
			}

			&:not(.wp-block-buttons--social) {
				column-gap: rem(25);
			}

			&.wp-block-buttons--social {
				display: flex;
				gap: rem(5);
				margin-top: rem(18);
			}
		}
	}

	&.sticky {
		display: none;
	}
}
