@import "base-includes";

.block-card-list {
	&--left {
		.block-card-list {
			&__content-col {
				@include media-breakpoint-up(md) {
					order: 2;
					margin-left: 0;
				}

				.wp-block-buttons {
					margin-top: rem(26);

					@include media-breakpoint-up(lg) {
						margin-top: rem(32);
					}

					.wp-block-button {
						margin-top: 0;
					}
				}
			}

			&__image-wrapper {
				width: 100%;
				max-width: rem(584);
				margin-right: auto;
			}
		}
	}

	&--right {
		.container {
			.block-card-list {
				&__content-col {
					max-width: rem(592);
					padding: rem(24) rem(32) rem(32) rem(32);

					@include media-breakpoint-up(lg) {
						padding: rem(24) rem(0) rem(24) rem(80);
					}
				}

				&__image-wrapper {
					width: 100%;
					max-width: rem(584);
					margin-left: auto;
				}
			}
		}

		.wp-block-buttons {
			margin-top: rem(32);
		}
	}

	@include media-breakpoint-down(sm) {
		padding-top: $block-spacing-with-text;
	}

	@each $color, $value in $background-colors {
		&.bg-#{$color} {
			+ .block-card-list.bg-#{$color} {
				margin-top: responsive-values(-48, -96);
			}
		}
	}

	&.is-style-frame {
		&.block-card-list--left {
			.block-card-list__content-col {
				@include media-breakpoint-up(md) {
					margin-right: 0;
					margin-left: $negative-grid-gap;
					border-top-left-radius: 0;
					border-top-right-radius: rem(32);
					border-bottom-right-radius: rem(32);
					border-bottom-left-radius: 0;
				}
			}

			.block-card-list__image-wrapper {
				img {
					@include media-breakpoint-up(md) {
						border-top-left-radius: rem(32);
						border-top-right-radius: 0;
						border-bottom-right-radius: 0;
						border-bottom-left-radius: rem(32);
					}
				}
			}
		}

		.block-card-list__content-col {
			display: flex;
			align-items: center;
			max-width: none;
			padding: responsive-values(40, 80) responsive-values(20, 80) responsive-values(48, 80);
			border-top-left-radius: rem(32);
			border-top-right-radius: rem(32);

			@include media-breakpoint-up(md) {
				margin-right: $negative-grid-gap;
				border-top-left-radius: rem(32);
				border-top-right-radius: 0;
				border-bottom-left-radius: rem(32);
			}
		}

		.block-card-list__container {
			@include media-breakpoint-up(md) {
				align-items: stretch;
			}
		}

		.block-card-list__image-col {
			@include media-breakpoint-down(sm) {
				margin-top: 0;
			}
		}

		.block-card-list__image-wrapper {
			@include media-breakpoint-up(md) {
				min-height: 100%;
			}

			img {
				border-top-left-radius: 0;
				border-top-right-radius: 0;

				@include media-breakpoint-up(md) {
					border-top-left-radius: 0;
					border-top-right-radius: rem(32);
					border-bottom-left-radius: 0;
				}
			}
		}
	}

	&__container {
		display: flex;
		flex-direction: column;
		border-radius: rem(32);
		overflow: hidden;

		@include media-breakpoint-up(md) {
			@include grid;

			gap: rem(40);
			align-items: center;

		}

		@include media-breakpoint-up(xl) {
			gap: rem(48);
		}
	}

	&__image-col {
		order: 1;
		width: 100%;
		height: 100%;
		margin-top: 0 !important;

		@include media-breakpoint-up(md) {
			grid-column-end: span 6;
		}
	}

	&__image-wrapper {
		position: relative;
		display: block;
		width: 100%;
		height: 0;
		padding-bottom: 74.09%;
		overflow: hidden;

		@include media-breakpoint-up(md) {
			height: 100%;
		}

		@include media-breakpoint-up(lg) {
			padding-bottom: 71.11%;
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: inherit !important;
			object-fit: cover;
			transition: transform 0.4s ease-in-out;
		}
	}

	&__content-col {
		order: 2;
		padding: rem(24) rem(32) rem(32) rem(32);

		@include media-breakpoint-up(md) {
			grid-column-end: span 6;
			order: 0;
			max-width: rem(544);
			padding: rem(24) rem(32) rem(24) rem(0);
		}
	}

	&__content {
		.has-overline-font-size {
			color: paint(neutral-6);
		}
	}
}
