@import "base-includes";

.block-card-image-content-card {
	position: relative;
	display: flex;
	flex-direction: column;
	text-align: left;
	border-radius: rem(20);
	background-color: paint(secondary-teal-a);
	box-shadow: 0 rem(4) rem(25) rgba(0, 0, 0, 0.08);
	overflow: hidden;
	transition: 0.3s;

	&:hover {
		img {
			transform: scale(1.08);
		}
	}

	.bg-secondary-teal-a & {
		background-color: paint(white);
	}

	.wp-block-heading {
		position: relative;
		padding-bottom: rem(8);
		color: paint(green);

		&::after {
			position: absolute;
			left: 0;
			bottom: 0;
			content: "";
			width: rem(100);
			height: rem(2);
			background-color: currentcolor;
		}
	}

	p {
		color: paint(neutral-1);

		&:last-of-type {
			margin-bottom: rem(16);
		}

		&.has-body-font-size {
			flex: 1;
		}
	}

	.wp-block-button {
		margin-top: auto;

		&.is-style-tertiary {
			.wp-block-button__link {
				.bg-gradient-a & {
					color: paint(gold);

					&::after {
						background: currentcolor;
					}

					&:hover {
						color: paint(green);
					}
				}
			}
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		justify-content: flex-start;
		align-items: flex-start;
		padding: rem(20);

		@include media-breakpoint-up(md) {
			padding: rem(30) rem(20);
		}
	}

	&__image-wrapper {
		position: relative;
		margin-bottom: 0;
		padding-bottom: 56.25%;
		transition: all 0.3s;

		@include media-breakpoint-down(sm) {
			padding-bottom: 56.11940299%;
		}

		&::before {
			position: absolute;
			left: 0;
			bottom: 0;
			right: 0;
			content: "";
			z-index: 2;
			width: rem(100);
			height: rem(50);
			margin: 0 auto;
			background: url(../../images/block-library/services-card-bg.svg) no-repeat;
			background-position: left center;
			background-size: cover;

			@include media-breakpoint-up(xxl) {
				bottom: rem(-1);
			}

			.bg-secondary-teal-a & {
				background-image: url(../../images/block-library/white-services-card-bg.svg);
			}
		}

		&::after {
			@include image-anime(125%);

			position: absolute;
			top: 0;
			left: -85%;
			content: "";
			z-index: 1;
			display: block;
			width: 50%;
			height: 100%;
			background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
			transform: skewX(-25deg);

		}

		&:hover {
			&::after {
				animation: imageanime 0.85s;
			}
		}

		.block-cards--3 & {
			padding-bottom: 74.52%;

			@include media-breakpoint-down(sm) {
				padding-bottom: 74.63%;
			}
		}

		.block-cards--4 & {
			padding-bottom: 56.57894737%;

			@include media-breakpoint-down(sm) {
				padding-bottom: 56.11940299%;
			}
		}

		img {
			border-radius: 0;
		}
	}
}
