@import "base-includes";

.editor-styles-wrapper {
	.block-tab-side-image-tab {
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		gap: $grid-gap;
		width: 100% !important;

		> .block-content {
			position: relative;
			top: auto;
			left: auto;
			width: 100%;
			transform: none;
		}

		.block-tab-side-image-tab {
			display: block !important;
		}
	}

	.block-tab-side-image-tab__figure {
		position: relative;
		left: auto;
	}

	.block-tab-side-image__content {
		flex: 0 0 50% !important;
		max-width: 50% !important;
	}

	.block-tab-side-image__spacer {
		display: none;
	}
}
