@import "base-includes";

.block-footer-top {
	@include subtitle-2(false);

	padding-bottom: responsive-values(30, 60);

	&__content {
		display: flex;
		flex-direction: column;

		@include media-breakpoint-up(md) {
			@include grid();
		}
	}
}
