@import "base-includes";

.wp-block-buttons {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	margin: responsive-values(22, 30) rem(-8) responsive-values(30, 42);

	&--tertiary {
		margin-top: responsive-values(14, 26);

		.wp-block-heading + &,
		p + & {
			@include media-breakpoint-down(sm) {
				margin-top: rem(-2);
			}
		}
	}

	&--social {
		margin: rem(8 -6);

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	&:first-child {
		margin-top: rem(-6);

		.wp-block-button {
			&.is-style-social {
				margin-top: 0;
			}
		}

		&.wp-block-buttons--social {
			margin-top: 0;
		}
	}

	&:last-child {
		margin-bottom: rem(-6);

		.wp-block-button {
			&.is-style-social {
				margin-bottom: 0;
			}
		}

		&.wp-block-buttons--social {
			margin-bottom: 0;
		}
	}

	.content-wrapper > & {
		--additionalGridOffset: #{rem(16)};
	}

	&.is-vertical {
		flex-direction: column;

		> .wp-block-button {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&.is-content-justification-left {
		justify-content: flex-start;

		&.is-vertical {
			align-items: flex-start;
		}
	}

	&.is-content-justification-center {
		justify-content: center;

		&.is-vertical {
			align-items: center;
		}
	}

	&.is-content-justification-right {
		justify-content: flex-end;

		&.is-vertical {
			align-items: flex-end;
		}
	}

	&.is-content-justification-space-between {
		justify-content: space-between;
	}

	&.aligncenter {
		text-align: center;
	}

	&:not(.is-content-justification-space-between,.is-content-justification-right,.is-content-justification-left,.is-content-justification-center) .wp-block-button.aligncenter {
		width: 100%;
		margin-right: auto;
		margin-left: auto;
	}

	&[style*="text-decoration"] {
		.wp-block-button,
		.wp-block-button__link {
			text-decoration: inherit;
		}
	}

	&.has-custom-font-size {
		.wp-block-button__link {
			font-size: inherit;
		}
	}
}
