.acf-field {
	&[data-name="post_types"],
	&[data-name="terms"],
	&[data-name^="icon"]:not([data-name="icon_block_categories"]),
	&[data-name="display_location"] {
		.acf-checkbox-list,
		.acf-radio-list {
			max-height: rem(300);
			overflow: auto;
		}
	}

	&[data-name="terms"],
	&[data-name^="icon"]:not([data-name="icon_block_categories"]),
	&[data-name="display_location"] {
		.acf-checkbox-list,
		.acf-radio-list {
			ul {
				padding: 0;
				list-style: none;
			}

			input {
				&[value$="_label"] {
					display: none;

					~ span {
						display: block;
						margin-top: rem(16);
						margin-bottom: rem(4);
						font-weight: 400;
						font-size: rem(14);
						cursor: auto;
					}
				}
			}
		}
	}

	&[data-name^="icon"]:not([data-name="icon_block_categories"]) {
		@import "../__styles/global-elements/icons";

		.acf-checkbox-list,
		.acf-radio-list {
			padding: rem(0 4 4 4);
		}

		label {
			position: relative;
			display: flex;
			flex-direction: row;
			align-items: center;
			padding: rem(4 0);
			cursor: pointer;
		}

		.icon {
			display: inline-block;
		}

		.acf-radio-list {
			li {
				display: inline;
			}

			label {
				display: inline;
				padding: 0;
				font-size: rem(24);
				line-height: 1;

				&.selected {
					&::after {
						position: absolute;
						top: 0;
						left: 0;
						content: "";
						width: rem(24);
						height: rem(24);
						outline: rem(4) solid #b00020;
					}
				}
			}

			input {
				position: absolute;
				width: rem(1);
				height: rem(1);
				padding: 0;
				white-space: nowrap;
				border: 0;
				overflow: hidden;
				clip: rect(0, 0, 0, 0);
			}
		}
	}
}
