@import "base-includes";

.block-filter-top {
	> .container {
		@include grid();
	}

	.filters-container {
		grid-column: span 12;
		margin-bottom: rem(16);

		@include media-breakpoint-up(md) {
			margin-bottom: rem(32);
		}

		&__inner {
			display: flex;
			flex-direction: column;
			column-gap: rem(20);

			@include media-breakpoint-up(md) {
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				justify-content: flex-start;
				align-items: center;
			}
		}

		&__filters {
			display: flex;
			flex-direction: column;
			gap: rem(20);

			@include media-breakpoint-up(md) {
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
			}
		}

		.filter-search {
			@include media-breakpoint-up(md) {
				order: 10;
				margin-left: auto;
			}
		}
	}

	&__selected-filter-sort-container {
		grid-column: span 12;
		display: flex;
		flex-wrap: nowrap;
		column-gap: rem(16);
		justify-content: space-between;
		align-items: flex-start;
		margin-bottom: rem(48);

		@include media-breakpoint-up(md) {
			margin-bottom: rem(72);
		}
	}

	&__selected-filters-wrapper {
		display: flex;
		flex-wrap: nowrap;
		column-gap: rem(16);
	}

	&__selected-filters-container {
		display: flex;
		flex-wrap: wrap;
		row-gap: rem(12);
		column-gap: rem(8);
	}

	&__posts {
		grid-column: span 12;
		position: relative;

		&.is-loading {
			&::before {
				@include loader;

				position: absolute;
				top: rem(100);
				left: 50%;
				content: "";
				z-index: 2;
				width: rem(32);
				height: rem(32);
				border-width: rem(6);
				transform: translateX(-50%);
			}

			.block-filter__posts-container {
				opacity: 0.5;
			}
		}
	}

	.block-filter__posts-container {
		@include grid();

		grid-column: span 12;
		row-gap: responsive-values(48, 72);
		transition: opacity $transition-standard;
	}

	&[data-card-type="news"] .block-filter__posts-container {
		row-gap: rem(48);

		@include media-breakpoint-up(md) {
			row-gap: 0;
		}
	}

	&[data-card-type="resources"] .block-filter__posts-container {
		row-gap: responsive-values(20, 72);
	}

	.block-filter-pagination {
		grid-column: span 12;
		text-align: center;
	}

	.block-filter-pagination__load-more {
		&:disabled {
			display: none;
		}
	}
}
