@import "base-includes";

.resource-card {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: rem(16 16 20 16);
	border: rem(1) solid paint(neutral-8);
	border-radius: rem(8);

	.block-filter-top & {
		grid-column: span 12;

		@include media-breakpoint-up(md) {
			grid-column: span 4;
		}
	}

	.block-filter-side & {
		grid-column: span 12;

		@include media-breakpoint-up(md) {
			grid-column: span 6;
		}

		@include media-breakpoint-up(lg) {
			grid-column: span 4;
		}
	}

	&__primary-term {
		@include subtitle-3(false);

		margin-bottom: rem(8);
	}

	&__title {
		@include title-1(false);

		margin-top: 0;
		margin-bottom: rem(8);
	}

	&__excerpt {
		@include body-2(false);

		margin-bottom: rem(16);
	}

	&__read-more.wp-block-button.is-style-tertiary {
		margin-top: auto;

		.wp-block-button__link {
			color: inherit;

			&:hover,
			&:focus {
				color: paint(button-hover);
			}
		}
	}
}
