@import "base-includes";

.block-navigation-search-button {
	order: 900;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: rem(16);
	margin-left: auto;

	&__button {
		display: flex;
		justify-content: center;
		align-items: center;
		width: rem(56);
		height: rem(64);
		padding: 0;
		color: paint(gold);
		border: none;
		background-color: transparent;
		cursor: pointer;
		appearance: none;

		&--mobile {
			z-index: 9999;
			order: 998;
			justify-content: flex-end;
			width: rem(40);
			margin-left: auto;

			@include media-breakpoint-up(lg) {
				display: none;
			}

			.block-navigation.is-style-hamburger & {
				@include media-breakpoint-up(lg) {
					display: flex;
				}
			}
		}

		&::before {
			@include icon("search");
		}

		.block-navigation__menu & {
			@include media-breakpoint-down(md) {
				display: none;
			}
		}

		.block-navigation.is-style-hamburger .block-navigation__menu & {
			display: none;
		}

		.block-navigation.search-active & {
			&::before {
				@include icon("close");
			}

			~ .block-navigation-search-button__search {
				visibility: visible;
				opacity: 1;
				transition: opacity $transition-standard, visibility 0s;
			}
		}
	}

	.block-navigation-link--center + & {
		margin-left: auto;
	}

	+ .wp-block-button {
		margin-left: 0;
	}

	&__search {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 20;
		width: 100%;
		padding: responsive-values(32, 48) var(--gutterWidth);
		background-color: paint(white);
		visibility: hidden;
		opacity: 0;
		transition: opacity $transition-standard, visibility 0s 0.2s;

		.block-navigation.is-style-variable-width-dropdown & {
			@include media-breakpoint-up(lg) {
				left: var(--gutterWidth);
				right: var(--gutterWidth);
				width: auto;
			}
		}

		.block-navigation.is-style-hamburger & {
			top: 0;
			z-index: 10000;
		}
	}

	&__form {
		position: relative;
		max-width: rem(864);
		margin: 0 auto;
	}

	&__submit,
	&__clear {
		position: absolute;
		top: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		color: paint(neutral-6);
		border: none;
		background: none;
		-webkit-appearance: none;
		transition: color $transition-standard;

		&:hover,
		&:focus {
			color: paint(button-hover);
		}
	}

	&__submit {
		width: rem(40);
		padding: 0;
		padding-right: rem(8);
		padding-left: rem(12);

		&::before {
			@include icon("search", rem(20));
		}
	}

	&__clear {
		right: 0;
		width: rem(44);
		padding-right: rem(16);
		padding-left: rem(8);
		opacity: 0;
		pointer-events: none;
		transition: opacity $transition-standard;

		&::before {
			@include icon("cancel", rem(20));
		}
	}

	&__input {
		padding-right: rem(44) !important;
		padding-left: rem(40) !important;

		&:valid {
			~ .block-navigation-search-button__clear {
				opacity: 1;
				pointer-events: auto;
			}
		}

		&::-webkit-search-decoration,
		&::-webkit-search-cancel-button,
		&::-webkit-search-results-button,
		&::-webkit-search-results-decoration {
			-webkit-appearance: none;
		}
	}
}
