@import "base-includes";

.block-content-compare {
	&.bg-white,
	&.bg-transparent {
		.card-left {
			background-color: paint(neutral-10);
		}
	}

	.wp-block-columns {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		border-radius: rem(16);
		overflow: hidden;

		@include media-breakpoint-up(lg) {
			flex-direction: row;
			flex-wrap: nowrap;
		}

		.wp-block-column {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			padding: responsive-values(64, 80) responsive-values(20, 80) responsive-values(64, 80) responsive-values(20, 80);

			.has-overline-font-size {
				width: max-content;
				margin-bottom: rem(24);
				padding: rem(4 8);
				color: paint(neutral-1);
				border-radius: rem(4);
			}

			.wp-block-heading {
				margin-bottom: rem(24);
			}

			.wp-block-list {
				margin: 0 0 rv(48, 64);

				.wp-block-list-item {
					margin-bottom: rv(8, 16);

					&:last-child {
						margin-bottom: 0;
					}
				}
			}

			.wp-block-buttons {
				gap: rem(16);
				margin: auto 0 0;

				.wp-block-button {
					margin: 0;
				}
			}

			.wp-block-button {
				margin-top: auto;
				margin-bottom: 0;
			}

			&.card-left {
				.has-overline-font-size {
					background: paint(neutral-7);
				}

				.wp-block-list {
					.wp-block-list-item {
						&::before {
							background: url(../../icons/essential/yellow-check.svg);
							background-repeat: no-repeat;
							background-size: contain;
							mask-image: url(../../icons/essential/yellow-check.svg);
						}
					}
				}
			}

			&.card-right {
				.has-overline-font-size {
					background: paint(neutral-3);
				}

				.wp-block-list-item {
					&::before {
						color: paint(neutral-3);
					}
				}
			}
		}
	}
}
