// Note: all code in the __base-includes folder should not generate any actual CSS since these files are used in every block and would generated redundant CSS. These are files purely for declaring variables, mixins, and functions.

@mixin button() {
	@include link-1(false);

	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: rem(11 31);
	text-align: center;
	border-radius: rem(8);
	cursor: pointer;
	-webkit-appearance: none;
	appearance: none;
	transition:
		color $transition-standard,
		background-color $transition-standard,
		border $transition-standard,
		transform-origin $transition-standard;

	&:disabled {
		cursor: not-allowed;
	}
}

@mixin button-small() {
	@include link-2(false);

	padding: rem(8 18);
}

@mixin button-small-tertiary() {
	@include link-2(false);

	&::before {
		bottom: rem(-1);
		height: rem(1);
	}
}

@mixin button-primary($light_styles_only: false) {
	@include button();

	position: relative;
	z-index: 2;
	padding: rem(12 32);
	color: paint(white);
	border: none;
	border-radius: rem(100);
	background-color: paint(button-default);
	overflow: hidden;

	@include media-breakpoint-down(xs) {
		width: 100%;
	}

	@if (true != $light_styles_only) {
		@include alt-button-selectors {
			color: paint(neutral-1);
			border-color: paint(button-default);
			background-color: paint(lime-green);

			&.hover,
			a:hover &,
			a:focus &,
			&:hover,
			&:focus {
				color: paint(neutral-1);
				border-color: paint(white);
				background-color: paint(white);
			}

			&:disabled {
				color: paint(neutral-5);
				border-color: paint(neutral-7);
				background-color: paint(neutral-7);
			}
		}
	}

	&.hover,
	a:hover &,
	a:focus &,
	&:hover,
	&:focus {
		color: paint(neutral-1);
		border-color: paint(button-hover);
		background-color: paint(button-hover);
	}

	&:disabled {
		color: paint(neutral-6);
		border-color: paint(neutral-4);
		background-color: paint(neutral-4);
	}
}

@mixin button-secondary($light_styles_only: false) {
	@include button();

	position: relative;
	z-index: 2;
	color: paint(button-default);
	border: rem(1) solid paint(button-default);
	border-radius: rem(100);
	background-color: transparent;
	overflow: hidden;

	@include media-breakpoint-down(xs) {
		width: 100%;
	}

	@if (true != $light_styles_only) {
		@include alt-button-selectors {
			color: paint(white);
			border-color: paint(white);

			&.hover,
			a:hover &,
			a:focus &,
			&:hover,
			&:focus {
				color: paint(button-default);
				border-color: paint(white);
				background-color: paint(white);
			}

			&:disabled {
				color: paint(neutral-7);
				border-color: paint(neutral-7);
			}
		}
	}

	&.hover,
	a:hover &,
	a:focus &,
	&:hover,
	&:focus {
		color: paint(white);
		border-color: paint(button-hover);
		background-color: paint(button-hover);
	}

	&:disabled {
		padding: rem(10 30);
		color: paint(neutral-4);
		border-color: paint(neutral-4);
		border-width: rem(2);
	}
}

@mixin button-tertiary($light_styles_only: false) {
	@include button();

	color: paint(button-default);

	@if (true != $light_styles_only) {
		position: relative;
		padding: 0;
		border: none;
		border-radius: 0;
		background-color: transparent;

		@include alt-button-selectors {
			color: paint(white);

			&::before {
				background: paint(white);
			}

			&::after {
				background: paint(white);
			}

			&.hover,
			a:hover &,
			a:focus &,
			&:hover,
			&:focus {
				color: paint(neutral-8);

				&::before {
					background: paint(neutral-8);
				}

				&::after {
					background: paint(neutral-8);
				}
			}

			&:disabled {
				color: paint(neutral-5);

				&::before {
					background: paint(neutral-3);
				}
			}
		}

		&::before {
			position: absolute;
			left: 0;
			bottom: rem(-1);
			content: "";
			width: 100%;
			height: rem(1);
			background-color: paint(button-default);
		}

		&::after {
			background-color: paint(button-default);
		}
	}

	&.hover,
	a:hover &,
	a:focus &,
	&:hover,
	&:focus {
		color: paint(button-hover);

		&::before {
			background: paint(button-hover);
		}

		&::after {
			background: paint(button-hover);
		}
	}

	&:disabled {
		color: paint(neutral-6);

		&::before {
			background: paint(neutral-6);
		}
	}
}

@mixin button-navigation-link() {
	@include nav-1();

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: 0;
	color: paint(neutral-1);
	text-align: left;
	border: none;
	background-color: transparent;
	cursor: pointer;
	-webkit-appearance: none;
	appearance: none;
	transition: color $transition-standard;

	@include alt-button-selectors {
		color: paint(white);

		&.hover,
		a:hover &,
		a:focus &,
		&:hover,
		&:focus {
			color: paint(neutral-8);
		}

		&:disabled {
			color: paint(neutral-5);
		}
	}

	&.hover,
	a:hover &,
	a:focus &,
	&:hover,
	&:focus {
		color: paint(button-hover);
	}

	&:disabled {
		color: paint(neutral-7);
	}
}

@mixin button-play() {
	display: flex;
	justify-content: center;
	align-items: center;
	width: rem(56);
	height: rem(56);
	padding: 0;
	color: paint(white);
	border: rem(2) solid paint(neutral-1);
	border-radius: 50%;
	background-color: paint(neutral-1);
	cursor: pointer;
	-webkit-appearance: none;
	appearance: none;
	transition:
		background-color $transition-standard,
		color $transition-standard,
		border-color $transition-standard;

	@include alt-button-selectors("&.c-btn--color-alt") {
		color: paint(neutral-1);
		border-color: paint(white);
		background-color: paint(white);

		&.hover,
		a:hover &,
		a:focus &,
		&:hover,
		&:focus,
		.component-video__button:hover &,
		.component-lightbox__button:hover & {
			color: paint(neutral-1);
			border-color: paint(neutral-10);
			background-color: paint(neutral-10);
		}

		&.c-btn--secondary {
			color: paint(white);
			border-color: paint(white);
			background-color: transparent;

			&.hover,
			a:hover &,
			a:focus &,
			&:hover,
			&:focus,
			.component-video__button:hover &,
			.component-lightbox__button:hover & {
				color: paint(neutral-1);
				border-color: paint(white);
				background-color: paint(white);
			}
		}
	}

	&::before {
		@include icon("play", #{rem(24)});

		pointer-events: none;
	}

	&.hover,
	a:hover &,
	a:focus &,
	&:hover,
	&:focus {
		color: paint(white);
		border-color: paint(neutral-3);
		background-color: paint(neutral-3);
	}

	&.c-btn--secondary {
		color: paint(neutral-1);
		border-color: paint(neutral-1);
		background-color: transparent;

		&.hover,
		a:hover &,
		a:focus &,
		&:hover,
		&:focus {
			color: paint(white);
			border-color: paint(neutral-1);
			background-color: paint(neutral-1);
		}
	}
}

@mixin button-close() {
	display: flex;
	justify-content: center;
	align-items: center;
	width: rem(40);
	height: rem(40);
	padding: 0;
	color: paint(white);
	border: rem(1) solid paint(button-default);
	border-radius: 50%;
	background-color: paint(button-default);
	cursor: pointer;
	-webkit-appearance: none;
	appearance: none;
	transition:
		background-color $transition-standard,
		color $transition-standard,
		border-color $transition-standard;

	@include alt-button-selectors("&.c-btn--color-alt") {
		color: paint(neutral-1);
		border-color: paint(white);
		background-color: paint(white);

		&.hover,
		a:hover &,
		a:focus &,
		&:hover,
		&:focus {
			color: paint(white);
			border-color: paint(button-default);
			background-color: paint(button-default);
		}
	}

	&::before {
		@include icon("close", #{rem(20)});

		pointer-events: none;
	}

	&.hover,
	a:hover &,
	a:focus &,
	&:hover,
	&:focus {
		color: paint(white);
		border-color: paint(button-hover);
		background-color: paint(button-hover);
	}
}

@mixin button-social() {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: rem(48);
	height: rem(48);
	color: paint(neutral-1);
	font-size: 0;
	line-height: 0;
	text-align: center;
	border: rem(1) solid paint(button-default);
	border-radius: rem(1600);
	background-color: transparent;
	cursor: pointer;
	-webkit-appearance: none;
	appearance: none;
	transition: border-color $transition-standard;

	@include alt-button-selectors {
		color: paint(white);
		border-color: paint(white);

		&.hover,
		a:hover &,
		a:focus &,
		&:hover,
		&:focus {
			border-color: paint(button-hover);

			&::after {
				color: paint(button-hover);
			}
		}
	}

	&::after {
		width: rem(24);
		height: rem(24);
		margin: 0;
		transform: none;
	}

	&.hover,
	a:hover &,
	a:focus &,
	&:hover,
	&:focus {
		border-color: paint(information);

		&::after {
			color: paint(information);
		}
	}
}

@mixin light-button-styles {
	&:not([class*="is-style-"]),
	&.is-style-primary {
		.wp-block-button__link {
			@include button-primary(true);
		}
	}

	&.is-style-secondary {
		.wp-block-button__link {
			@include button-secondary(true);
		}
	}

	&.is-style-tertiary {
		.wp-block-button__link {
			@include button-tertiary(true);
		}
	}
}
