@import "base-includes";

.editor-styles-wrapper {
	.block-navigation-quick-links {
		display: block;
		padding-right: rem(32) !important;
		padding-left: rem(32) !important;

		&.block-editor-block-list__block {
			padding: 0 !important;
			border: none !important;
		}
	}

	.wp-block[data-title="Navigation-Quick-Links"] {
		&::before {
			content: "Quick-Links" !important;
		}
	}
}
