@import "base-includes";

.block-hero-details {
	margin: responsive-values(48, 64) 0;

	@include media-breakpoint-up(md) {
		display: flex;
		flex-direction: row;
		margin-right: rem(-32);
		margin-left: rem(-32);
	}

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}
