@import "base-includes";

.editor-styles-wrapper {
	.block-media-slider-grid {
		.components-resizable-box__handle {
			display: none !important;
		}

		.swiper-wrapper {
			display: grid;
			grid-template-columns: repeat(2, minmax(0, 1fr));
			gap: rem(32);
		}

		.wp-block-image {
			width: 100%;
			height: auto;
			padding-bottom: 0;
		}

		img,
		picture {
			position: relative !important;
			width: auto !important;
			height: auto !important;
		}
	}
}
