@import "base-includes";

.block-hero-detail {
	@include body-1(false);

	margin: rem(16 0);

	@include media-breakpoint-up(md) {
		margin: rem(16 32);
	}

	&:first-child {
		margin-top: 0;

		@include media-breakpoint-up(md) {
			margin-top: rem(16);
		}
	}

	&:last-child {
		margin-bottom: 0;

		@include media-breakpoint-up(md) {
			margin-bottom: rem(16);
		}
	}

	.wp-block-heading {
		@include overline(false);

		margin-bottom: responsive-values(4, 8);
		color: paint(neutral-6);
	}

	p {
		@include body-1(true);
	}
}
