@import "base-includes";

.block-alert-popup {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 30;
	display: block;
	width: 100%;
	height: 100%;
	padding: 0;
	border: none;
	background-color: rgba(#000, 0.8);
	visibility: visible;
	opacity: 1;
	appearance: none;
	transition: opacity $transition-standard, visibility 0s;

	&--hidden {
		visibility: hidden;
		opacity: 0;
		transition: opacity $transition-standard, visibility 0s 0.2s;
	}

	&:not(.block-alert-popup--hidden) {
		~ .block-alert-popup {
			visibility: hidden;
			opacity: 0;
			transition: opacity $transition-standard, visibility 0s 0.2s;
		}
	}

	&__content-wrapper {
		position: absolute;
		top: 50%;
		left: var(--gutterWidth);
		right: var(--gutterWidth);
		z-index: 2;
		max-height: calc(100% - rem(144));
		background-color: paint(white);
		transform: translateY(-50%);
		overflow: auto;
	}

	&__close-button {
		@include button-close;

		position: absolute;
		top: rem(20);
		right: rem(20);
		z-index: 1;
		padding: 0;
		border: none;
		cursor: pointer;
		appearance: none;

		&::after {
			position: fixed;
			top: 0;
			left: 0;
			content: "";
			z-index: -1;
			width: 100%;
			height: 100%;
		}
	}
}
