@import "base-includes";

.block-content-embed {
	position: relative;

	iframe {
		width: 100%;
		height: 100%;
		min-height: rem(1250);
		margin-top: rem(48);

		@include media-breakpoint-up(md) {
			margin-top: rem(64);
		}
	}
}
