@import "base-includes";

.block-content-embed {
	position: relative;
	display: grid;
	grid-template-columns: repeat(12, 1fr);

	&.is-style-small {
		iframe {
			@include media-breakpoint-up(md) {
				grid-column: 4 / span 6;
			}
		}

	}

	&.is-style-medium {
		iframe {
			@include media-breakpoint-up(md) {
				grid-column: 3 / span 8;
			}
		}
	}

	&.is-style-full {
		iframe {
			@include media-breakpoint-up(md) {
				grid-column: 1 / -1;
			}
		}
	}

	iframe {
		grid-column: 1 / -1;
		width: 100%;
		height: 100%;
		min-height: rem(520);

		@include media-breakpoint-up(md) {
			grid-column: 4 / span 6;
		}
	}
}
