@import "base-includes";

.block-card-stacked {
	.block-cards--2 {
		.block-cards__grid {
			@include media-breakpoint-up(lg) {
				grid-template-columns: repeat(12, minmax(0, 1fr));
			}
		}

		.block-card {
			&:nth-child(2n + 1) {
				@include media-breakpoint-up(lg) {
					grid-column: 2 / span 5;
				}
			}

			&:nth-child(2n) {
				@include media-breakpoint-up(lg) {
					grid-column: 7 / span 5;
				}
			}
		}
	}
}
