@import "base-includes";

.acf-block {
	&__background-video-wrapper {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: -2;
		width: calc(var(--videoRatio, 1.77777777778) * var(--blockHeight, 100%));
		height: 100%;
		min-width: 100vw;
		max-width: none;
		transform: translate(-50%, -50%);
		overflow: hidden;
	}

	&__background-video {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100% !important;
		height: 0 !important;
		margin: 0;
		padding-bottom: calc(100% / var(--videoRatio, 1.77777777778));
		opacity: 0;
		transform: translate(-50%, -50%);
		transition: opacity 0.8s ease-in-out;

		&.loaded,
		.editor-styles-wrapper & {
			opacity: 1;
		}

		div {
			display: contents;
		}

		iframe,
		object,
		embed,
		video {
			position: absolute;
			top: 0;
			left: 0;
			width: 100% !important;
			height: 100% !important;
			max-width: none !important;
			margin-top: 0;
			margin-bottom: 0;
		}
	}
}
