@import "base-includes";

.block-navigation-link-column {
	margin-bottom: rem(48);

	@include media-breakpoint-up(lg) {
		min-width: rem(196);
		margin-bottom: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}

	.block-navigation-columns--narrow-link-columns & {
		@include media-breakpoint-up(lg) {
			min-width: responsive-values(128, 196, "lg", "xxl");
		}
	}

	.wp-block-heading {
		@include overline(false);

		margin-bottom: rem(16);
		padding: 0 var(--gutterWidth) rem(12);
		color: paint(neutral-6);
		border-bottom: rem(1) solid paint(neutral-10);

		@include media-breakpoint-up(lg) {
			padding-right: 0;
			padding-left: 0;
		}
	}

	.wp-block-button {
		.wp-block-button__link {
			justify-content: flex-start;
			width: 100%;
			padding: 0 var(--gutterWidth);
			text-align: left;

			@include media-breakpoint-up(lg) {
				padding: 0;
			}
		}
	}
}
