@import "base-includes";

.block-hero-donate {
	padding-top: responsive-values(136, 192);

	[type="submit"] {
		width: 100%;
	}

	&__container {
		@include media-breakpoint-up(md) {
			@include grid();

			row-gap: responsive-values(20, 32);
			align-items: center;
		}
	}

	.block-content {
		width: 100%;

		@include media-breakpoint-up(md) {
			grid-column: 1 / span 6;
		}

		@include media-breakpoint-up(lg) {
			grid-column-end: span 7;
		}
	}

	.block-form {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin-top: rem(48);
		padding: rem(48) responsive-values(20, 32);

		@include media-breakpoint-up(md) {
			grid-area: 1 / 7 / span 1 / span 6;
			margin-top: 0;
		}

		@include media-breakpoint-up(lg) {
			grid-column: 8 / span 5;
		}

		@include media-breakpoint-up(xxl) {
			grid-column: 9 / span 4;
		}
	}
}
