@import "base-includes";

.block-hero-post-standard-blog {
	text-align: center;

	&__row {
		justify-content: center;
	}

	&__title {
		margin-top: 0;
	}

	&__image-wrapper {
		margin-top: responsive-values(48, 72);
	}

	&__primary-term {
		&:nth-last-child(2) {
			margin-right: rem(8);
		}
	}

	&__read-time {
		@include subtitle-2(false);

		color: paint(neutral-6);
	}

	&__meta-top {
		@include subtitle-2(false);

		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin-bottom: rem(12);
	}

	&__meta-bottom {
		margin-top: responsive-values(24, 32);
		font-size: 0;
		line-height: 0;

		span {
			@include subtitle-2(false);

			&:not(:last-child) {
				&::after {
					content: "|";
					display: inline-block;
					margin: auto rem(8);
					color: paint(text);
				}
			}
		}
	}
}
