@import "base-includes";

.editor-styles-wrapper {
	.block-hero-contact {
		.block-editor-block-list__block {
			&.wp-block-columns {
				gap: rem(100) !important;

				.wp-block-column {
					&:nth-child(2) {
						margin-left: rem(80) !important;
					}
				}
			}
		}
	}
}
