@import "base-includes";

.block-hero-contact {
	@include media-breakpoint-up(lg) {
		padding-top: rem(128);
	}

	&__container {
		@include media-breakpoint-up(lg) {
			@include grid();

			row-gap: responsive-values(20, 32);
		}
	}

	.block-content {
		width: 100%;
		margin: 0 0 rem(20);

		@include media-breakpoint-up(lg) {
			grid-area: 1 / 1 / 2 / 5;
			max-width: rem(416);
		}

		.block-contact-item {
			margin-bottom: rem(20);

			.wp-block-columns {
				display: flex;
				align-items: center;
				width: 100%;
				margin-bottom: rem(20);
				padding: rem(20);
				border-radius: rem(15);
				background: paint(secondary-teal-a);

				&:hover {
					.wp-block-column {
						p {
							a {
								text-decoration: underline;
							}
						}
					}
				}

				.wp-block-column {
					&:first-child {
						position: absolute;
						display: flex;
						justify-content: center;
						align-items: center;
						width: rem(52);
						height: rem(52);
					}

					&:nth-child(2) {
						margin-left: rem(72);

						a {
							color: paint(neutral-1);
							text-decoration: none;
						}
					}
				}

				.wp-block-buttons {
					.wp-block-button {
						display: flex;
						align-items: center !important;
						height: rem(52);
						min-width: rem(52);
						border-radius: 100%;
						background-color: paint(green);

						&__link {
							&::after {
								background-color: paint(white);
							}
						}
					}
				}
			}
		}

		.wp-block-buttons {
			&:last-child {
				@include media-breakpoint-down(sm) {
					margin-bottom: 0;
				}
			}
		}
	}

	.block-form {
		width: 100%;
		margin-top: rem(40);
		margin-bottom: auto;
		color: paint(white);
		border-radius: rem(20);

		@include media-breakpoint-up(lg) {
			grid-area: 1 / 6 / 2 / 13;
			max-width: rem(741);
			margin-top: 0;
		}

		.wp-block-contact-form-7-contact-form-selector {
			display: block !important;

			.wpcf7-form {
				width: 100%;
				margin-inline: 0;
				margin-top: 0;
				padding: rem(40) rem(20);
				color: paint(white);
				border-radius: rem(20);
				background: paint(green);

				@include media-breakpoint-up(lg) {
					padding: rem(40);
				}

				.contact-form-box {
					.form-grid {
						margin-top: rem(30);

						.form-row {
							display: flex;
							flex-direction: column;
							gap: rem(20);
							margin-bottom: rem(20);

							@include media-breakpoint-up(md) {
								flex-direction: row;
							}

							.form-field {
								span {
									margin: 0 !important;
									padding: 0 !important;

									input,
									textarea {
										margin-bottom: 0;
										padding: rem(12);
										color: paint(white);
										border: none;
										border-radius: rem(8);
										background-color: paint(light-green);

										&::placeholder {
											color: paint(white);
											opacity: 0.5;
										}
									}

									.wpcf7-not-valid-tip {
										display: block;
										margin-top: rem(6) !important;
										padding: rem(4) rem(6) !important;
										border-radius: rem(4);
										background-color: paint(white);
									}
								}
							}
						}

						.form-field {
							span {
								display: block;
								margin: 0 !important;
								padding: 0 !important;

								input,
								textarea {
									margin-bottom: 0;
									padding: rem(12);
									color: paint(white);
									border: none;
									border-radius: rem(8);
									background-color: paint(light-green);

									&::placeholder {
										color: paint(white);
										opacity: 0.5;
									}
								}

								textarea {
									width: 100% !important;
									height: rem(100);
									max-width: 100%;
									min-height: auto !important;
								}
							}
						}
					}

					.form-actions {
						.wpcf7-submit {
							@include button-primary;

							margin-top: rem(24);

							@include media-breakpoint-up(md) {
								width: auto !important;
							}

							&:hover,
							&:focus {
								color: paint(neutral-1);
								background-color: paint(white);
							}
						}
					}
				}

				.cf7-thankyou {
					display: none;
				}

				&.invalid {
					.wpcf7-response-output {
						margin-top: rem(6);
						padding: rem(3) rem(6);
						color: paint(error);
						border-radius: rem(4);
						background-color: paint(white);
					}
				}

				&.sent {
					.contact-form-box {
						display: none !important;
					}

					.wpcf7-response-output {
						display: none;
						margin-right: auto !important;
						margin-left: auto !important;
						padding: rem(30);
						color: paint(white);
						border-radius: rem(20);
						background: paint(green);
					}

					.cf7-thankyou {
						display: block;
						width: 100%;
						padding: 0 rem(20);

						.thank-you-inner {
							max-width: rem(520);
							margin: 0 auto;
							text-align: center;

							p {
								@include subtitle-1(false);
							}
						}
					}
				}
			}
		}
	}
}
