@import "base-includes";

.block-icon-standard-steps {
	position: relative;
	padding-top: rem(64) !important;

	@include media-breakpoint-up(lg) {
		padding-top: rem(80) !important;
	}

	&__content {
		.wp-block-columns {
			max-width: rem(864);
			margin: 0 auto;
			text-align: center;
		}

		.block-cards {
			margin-top: rem(32);

			@include media-breakpoint-up(md) {
				margin-top: rem(72);
			}

			&__grid {
				row-gap: rem(32);
				column-gap: rem(32);

				@include media-breakpoint-up(md) {
					column-gap: rem(16);
				}

				@include media-breakpoint-up(lg) {
					column-gap: rem(32);
				}
			}
		}

		.wp-block-heading.has-t-2-font-size {
			@include media-breakpoint-down(sm) {
				max-width: rem(240);
				margin-right: auto;
				margin-left: auto;
			}
		}
	}

	.image-wrapper,
	.component-video {
		padding-bottom: 69.213%;

		@include media-breakpoint-up(md) {
			padding-bottom: 55.77%;
		}
	}

	.block-icon-step-cards {
		border-radius: rem(32);
		background-color: paint(white);
		overflow: hidden;

		figure {
			img {
				border-radius: rem(2) rem(2) 0 0;
			}
		}

		&__content {
			padding: rem(20) rem(28) rem(32) rem(24);

			@include media-breakpoint-up(md) {
				padding: rem(20) rem(20) rem(32);
			}

			.pill.has-overline-font-size {
				position: relative;
				z-index: 1;
				display: inline-block;
				margin-bottom: rem(24);
				padding: rem(6) rem(16);
				color: paint(button-default);
				border-radius: rem(32);
				border-image: paint(neutral-1);
				background: paint(white);

				&::before {
					position: absolute;
					inset: 0;
					content: "";
					z-index: -1;
					padding: rem(1.5);
					border-radius: inherit;
					background: paint(neutral-1);
					-webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
					-webkit-mask-composite: xor;
					mask-composite: exclude;
				}
			}

			h2.has-title-1 {
				margin-bottom: rem(8);
			}
		}
	}

	.wp-block-button {
		margin-top: rem(0);

		&.is-style-primary {
			margin-bottom: rem(12);

			@include media-breakpoint-down(sm) {
				margin-top: rem(32);
			}
		}
	}

	&__image,
	.component-video {
		width: 100%;
		text-align: center;

		@include media-breakpoint-up(md) {
			grid-column: 7 / span 6;
		}
	}

	&.is-style-grid-top {
		margin: rem(20) !important;
		padding-top: rem(88) !important;
		padding-bottom: rem(96);
		border-radius: rem(32);

		@include media-breakpoint-up(lg) {
			padding-top: rem(128) !important;
			padding-bottom: rem(144);
		}

		@include media-breakpoint-down(sm) {
			padding-bottom: rem(175);
		}

		.wp-block-columns {
			max-width: 100%;
			text-align: left;

			.wp-block-column {
				display: grid;
				grid-template-rows: auto auto;
				grid-template-columns: auto auto;
				align-items: center;
				column-gap: rem(24);

				@include media-breakpoint-down(sm) {
					display: block;

					> * {
						display: block;
						width: 100%;
						margin-bottom: 1rem;
					}
				}

				> :nth-child(3) {
					grid-row: 1 / span 2;
					grid-column: 2;
					align-self: center;
					margin-bottom: 0;
					text-align: right;
				}

				.wp-block-heading.has-t-2-font-size {
					max-width: 100%;
					margin-bottom: rem(16);

					@include media-breakpoint-up(xl) {
						width: rem(864);
						max-width: rem(864);
						margin-bottom: rem(24);
					}
				}

				.has-body-1-font-size {
					max-width: rem(864);
					margin-bottom: rem(0);

					@include media-breakpoint-up(xl) {
						width: rem(864);
					}
				}

				.wp-block-button.is-style-primary {
					@include media-breakpoint-down(sm) {
						position: absolute;
						left: 0;
						bottom: rem(96);
						max-width: 100%;
						text-align: center;
					}

					@include media-breakpoint-down(sm) {
						.wp-block-button__link {
							width: rem(295);
						}
					}
				}
			}
		}

		.block-icon-step-cards {
			&__content {
				padding: rem(32) rem(20);

				@include media-breakpoint-up(lg) {
					padding: rem(32);
				}
			}

			.pill {
				margin-bottom: rv(16, 64);
			}

			.has-subtitle-1-font-size {
				margin-bottom: 0;
			}

			.wp-block-list {
				display: none;
			}
		}
	}
}
