@import "base-includes";

.block-footer-bottom {
	@include subtitle-3(false);

	padding-top: responsive-values(14, 18);

	&__content {
		@include media-breakpoint-up(md) {
			@include grid;

			justify-content: space-between;
			align-items: flex-start;
		}
	}

	p {
		margin-bottom: rem(8);
		color: paint(neutral-8);
	}

	a:not(.wp-block-button__link) {
		color: paint(neutral-8) !important;
		text-decoration: none !important;

		&:hover,
		&:focus {
			color: paint(white) !important;
		}
	}

	.block-content {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin-bottom: rem(12);

		@include media-breakpoint-up(sm) {
			display: flex;
			margin-bottom: 0;
		}

		@include media-breakpoint-up(md) {
			grid-column-end: span 8;
		}

		&:last-child {
			margin-bottom: 0;
		}

		&:first-child {
			&:last-child {
				@include media-breakpoint-up(md) {
					grid-column: 1 / 13;
					display: flex;
					flex-direction: row;
					align-items: center;
				}

				p {
					flex: 0 0 auto;
				}

				.block-icon {
					@include media-breakpoint-down(sm) {
						display: contents;
						flex: 0 0 auto;
					}

					&::before {
						@include media-breakpoint-down(sm) {
							content: "";
							display: block;
							flex: 0 0 100%;
							margin-top: rem(32);
						}
					}

					~ .block-icon {
						&::before {
							display: none;
						}

						.block-icon__icon {
							@include media-breakpoint-up(md) {
								margin-left: 0;
							}
						}
					}
				}

				.block-icon__icon {
					display: block;
					margin: rem(8 8 8 0);

					@include media-breakpoint-up(md) {
						margin-left: rem(48);
					}
				}
			}
		}

		&:nth-child(2n + 1) {
			p {
				@include subtitle-3(false);
			}
		}

		&:nth-child(2n) {
			@include media-breakpoint-up(md) {
				grid-column: 9 / span 4;
			}

			p {
				@include subtitle-2(false);
			}

			.wp-block-buttons {
				&:only-child {
					@include media-breakpoint-up(md) {
						margin-left: auto;
					}
				}
			}
		}

		p {
			margin-right: rem(12);
		}
	}

	.wp-block-buttons {
		flex-wrap: nowrap;
		column-gap: rem(12);
		margin: rem(16 0 0 0);

		@include media-breakpoint-up(md) {
			margin-top: 0;
		}
	}

	.wp-block-button {
		display: flex;

		&.is-style-social {
			margin: 0;

			.wp-block-button__link {
				width: rem(20);
				height: rem(20);
				padding: 0;
				color: paint(white);
				border: none;
				background-color: transparent;
				transition: color $transition-standard;

				&::after {
					width: rem(20);
					height: rem(20);
				}

				&:hover,
				&:focus {
					color: paint(neutral-8);
				}
			}
		}
	}

	.block-icon {
		margin: rem(8 8 8 0);
	}

	.block-icon__icon {
		width: rem(32);
		height: rem(32);
		color: paint(neutral-4);
	}
}
