@import "base-includes";

.block-hero-404 {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 83vh;
	min-height: rem(486);
	padding-top: rem(95);
	padding-right: rem(20);
	padding-bottom: rem(233);
	padding-left: rem(20);
	text-align: center;

	@include media-breakpoint-up(md) {
		height: 100vh;
		padding-top: rem(243);
		padding-bottom: rem(339);
	}

	.content-wrapper {
		width: 100%;
		max-width: rem(1160);
		margin: 0 auto;
		padding: rem(88) rem(34) rem(96);
		border-radius: rem(24);
		background-color: paint(neutral-11);

		@include media-breakpoint-up(lg) {
			padding: rem(128) rem(128) rem(144);
		}

		.wp-block-heading {
			max-width: 100% !important;
			margin: 0 !important;
		}

		.wp-block-buttons {
			margin-top: rem(20);

			@include media-breakpoint-up(md) {
				margin-top: rem(32);
			}

			.wp-block-button {
				margin-top: 0;
				margin-bottom: 0;
			}

		}
	}
}
