@import "base-includes";

.editor-styles-wrapper {
	.block-navigation {
		position: relative !important;
		z-index: auto !important;
		max-width: 100% !important;
		padding: 0 !important;

		&.is-selected,
		&.has-child-selected {
			z-index: 20 !important;
		}

		&__menu {
			transition: none !important;

			@include media-breakpoint-down(md) {
				position: absolute !important;
				top: 100% !important;
				height: 80vh !important;
			}

			> .block-editor-inner-blocks {
				position: static !important;
				display: contents;

				> .block-editor-block-list__layout {
					position: static !important;
					display: contents;

					> .wp-block-button {
						order: 900;
						margin-top: auto;
						margin-bottom: auto;

						@include media-breakpoint-up(lg) {
							margin-right: 0;
							margin-left: auto;

							~ .block-navigation-link--right {
								margin-left: 0;
							}

							+ .block-navigation-link--right {
								margin-left: rem(20);
							}

							~ .wp-block-button {
								margin-left: rem(16);
							}
						}
					}

					> .block-navigation-link--right {
						~ .wp-block-button {
							@include media-breakpoint-up(lg) {
								margin-left: rem(16);
							}
						}
					}
				}
			}
		}

		&__logo-link {
			position: relative;
			z-index: 1;
			display: block;
			margin-top: auto;
			margin-bottom: auto;

			&:hover,
			&:focus {
				.block-navigation__remove-logo-button {
					opacity: 1;
				}
			}
		}

		&__remove-logo-button {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			color: paint(neutral-1);
			background-color: rgba(paint(white), 0.85);
			opacity: 0;
			transition: opacity $transition-standard;
		}
	}

	.block-navigation.is-style-hamburger {
		.block-navigation__menu {
			position: absolute !important;
			top: 100% !important;
			display: block !important;
			height: 80vh !important;
			padding-right: rem(32) !important;
			padding-left: rem(32) !important;
		}
	}
}
