@import "base-includes";
@import "./styles/full-width-dropdown";
@import "./styles/variable-width-dropdown";
@import "./styles/hamburger";

.block-navigation {
	width: 100%;
	margin: 0;
	background-color: transparent;
	transition: background-color 0.3s ease;

	@include media-breakpoint-up(lg) {
		padding: 0 rem(20) 0 rem(20);
	}

	body:has(.block-hero-display) & {
		background-color: paint(neutral-1);

		@include media-breakpoint-up(lg) {
			background-color: transparent;
		}
	}

	/* HERO NOT PRESENT → default white */
	body:not(:has(.block-hero-display)) & {
		background-color: paint(green) !important;

		@include media-breakpoint-up(lg) {
			background-color: paint(white) !important;
		}

		&.search-active {
			background-color: #03252a !important; // your desired color

			.block-navigation {
				&__container {
					img {
						filter: brightness(0) invert(1);
					}

					// Target menu buttons correctly
					.block-navigation__menu {
						.block-navigation-link__button {
							color: paint(white);
						}
					}
				}
			}
		}
	}

	/* HERO PRESENT + SCROLLED → neutral */
	body:has(.block-hero-display) &.scrolled {
		background-color: paint(neutral-1) !important;
	}

	/* HERO NOT PRESENT + SCROLLED → white */
	body:not(:has(.block-hero-display)) &.scrolled {
		background-color: paint(green) !important;

		@include media-breakpoint-up(lg) {
			background-color: paint(white) !important;
		}
	}

	// body:not(:has(.block-hero-display)) {
	// 	.block-navigation {
	// 		&.search-active {
	// 			background-color: #03252a !important; // your desired color
	// 		}
	// 	}
	// }

	/* Default nav transparent if hero exists */
	&.active {
		@include media-breakpoint-down(md) {
			position: static;
			top: 0;
			z-index: 20;
		}
	}

	&.search-active {
		padding: 0;
		background-color: paint(green) !important;

		// Correct nested path:
		.block-navigation {
			&__container {
				border-radius: 0;
				background-color: paint(green) !important;
			}
		}
	}

	&__container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		height: rem(75);
		max-width: rem(1296);
		padding-right: rem(12);
		padding-left: rem(12);
		border-radius: rem(100);
		background-color: transparent;

		body:has(.block-hero-display) & {
			max-width: rem(1890);
			// background-color: rgba(255, 255, 255, 0.1);

			@include media-breakpoint-up(lg) {
				background-color: rgba(255, 255, 255, 0.1);
				backdrop-filter: blur(rem(6));
			}
		}
	}

	&__logo-link {
		z-index: 99;
		display: block;
		height: rem(60);
		max-width: rem(120);

		@include media-breakpoint-up(lg) {
			height: rem(60);
			max-width: rem(150);
			padding-left: rem(12);
		}

		&:focus {
			color: unset;
		}

		body:has(.block-hero-display) & {
			img {
				filter: brightness(0) invert(1);
			}
		}

		img {
			filter: brightness(0) invert(1);

			@include media-breakpoint-up(lg) {
				filter: none;

			}
		}
	}

	&__menu {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		z-index: 18;
		flex-direction: column;
		flex-grow: 1;
		width: 100%;
		padding-bottom: var(--totalButtonOffset, #{rem(20)});
		background-color: paint(neutral-1);
		visibility: hidden;
		opacity: 0;
		transform: translateX(100%);
		overflow-y: auto;
		transition: transform 0.3s ease-out, opacity 0.2s linear, visibility 0s 0.2s;

		@include media-breakpoint-up(lg) {
			top: rem(100);
			background-color: transparent;
			transform: none;
		}

		body.admin-bar & {
			top: calc(rem(64) + rem(32));

			@media screen and (max-width: rem(782)) {
				top: calc(rem(64) + rem(46));
			}
		}

		.block-navigation__hamburger.active ~ & {
			padding-top: rem(100);
			visibility: visible;
			opacity: 1;
			transform: translateX(0);
			transition: transform 0.3s ease-out, opacity 0.2s linear, visibility 0s;
		}

		> .wp-block-button {
			position: fixed;
			left: 0;
			bottom: var(--buttonOffset, 0);
			z-index: 20;
			order: 900;
			width: 100%;
			margin: 0;

			@include media-breakpoint-down(md) {
				padding: rem(20);
				background-color: paint(green);
				// box-shadow: rem(0 0 8 0) rgba(paint(neutral-1), 0.12);
			}

			@include media-breakpoint-up(lg) {
				margin-right: 0;
				margin-left: auto;

				~ .block-navigation-link--right {
					margin-left: 0;
				}

				+ .block-navigation-link--right {
					margin-left: rem(20);
				}

				+ .wp-block-button {
					margin-left: rem(16);
				}
			}

			~ .wp-block-button {
				z-index: 21;
				padding-top: 0;
				box-shadow: none;
			}

			.wp-block-button__link {
				width: 100%;
			}

			&:not([class*="is-style-"]),
			&.is-style-primary,
			&.is-style-secondary {
				.wp-block-button__link {
					@include media-breakpoint-up(lg) {
						@include button-small;
					}
				}
			}

			&.is-style-tertiary {
				.wp-block-button__link {
					@include media-breakpoint-up(lg) {
						@include button-small-tertiary;
					}
				}
			}
		}
	}

	&__hamburger {
		z-index: 9999;
		order: 999;
		display: flex;
		justify-content: center;
		justify-self: flex-end;
		align-items: center;
		width: rem(35);
		height: rem(35);
		margin: rem(-20 -20 -20 0);
		margin-right: rem(5);
		padding: 0;
		border: rem(1) solid paint(gold);
		border-radius: 50%;
		background-color: transparent;
		appearance: none;

		&.active {
			background-color: paint(gold);

			.block-navigation__hamburger-inner {
				background: transparent;

				&::before {
					transform: translateY(rem(6)) rotate(45deg);
				}

				&::after {
					transform: translateY(rem(-6)) rotate(-45deg);
				}
			}
		}
	}

	&__hamburger-inner {
		position: relative;
		display: block;
		width: rem(24);
		height: rem(24);
		background: linear-gradient(to bottom, transparent calc(50% - rem(1)), paint(white) calc(50% - rem(1)), paint(white) calc(50% + rem(1)), transparent calc(50% + rem(1)));

		&::before,
		&::after {
			position: absolute;
			left: 0;
			content: "";
			width: 100%;
			height: rem(2);
			background-color: paint(white);
			transition: transform $transition-standard;
		}

		&::before {
			top: calc(50% - rem(7));
		}

		&::after {
			bottom: calc(50% - rem(7));
		}
	}

	// &.scrolled {
	// 	// background-color: paint(white);
	// 	.block-navigation {
	// 		&__container {
	// 			background-color: transparent;
	// 		}
	// 	}

	// }
	&.scrolled {
		.block-navigation {
			&__container {
				background-color: unset;
				backdrop-filter: unset;
			}
		}
	}
}
