@import "base-includes";
@import "./styles/full-width-dropdown";
@import "./styles/variable-width-dropdown";
@import "./styles/hamburger";

.block-navigation {
	width: 100%;
	margin: 0;
	background-color: transparent;
	transition: background-color 0.3s ease;

	body:has(.block-hero-display) & {
		background-color: paint(neutral-1);

		@include media-breakpoint-up(lg) {
			background-color: transparent;
		}
	}

	body:not(:has(.block-hero-display)) & {
		background-color: paint(white) !important;

		&.active {
			background-color: paint(neutral-1) !important;
		}

		&.search-active {
			.block-navigation {
				&__container {
					.block-navigation__menu {
						.block-navigation-link__button {
							color: paint(green);
						}
					}
				}
			}
		}
	}

	body:has(.block-hero-display) &.scrolled {
		background-color: paint(neutral-1) !important;
	}

	body:not(:has(.block-hero-display)) &.scrolled {
		background-color: paint(white) !important;

		@include media-breakpoint-up(lg) {
			background-color: paint(white) !important;
		}
	}

	&.active {
		@include media-breakpoint-down(md) {
			position: static;
			top: 0;
			z-index: 20;
		}

		.block-navigation__container {
			.block-navigation-search-button {
				&__button {
					display: none;
				}
			}
		}

		.block-navigation__logo-link {
			&::after {
				content: none;
				display: none;
			}

			img {
				filter: brightness(0) invert(1);
			}
		}
	}

	&.search-active {
		padding: 0;
		background-color: paint(green) !important;

		.block-navigation {
			&__container {
				border-radius: 0;
				background-color: paint(white) !important;

				body:has(.block-hero-display) & {
					background-color: paint(green) !important;
				}
			}
		}
	}

	&__container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		height: rem(75);
		max-width: rem(1296);
		padding-right: rem(12);
		padding-left: rem(12);
		border-radius: rem(100);
		background-color: transparent;

		body:has(.block-hero-display) & {
			max-width: rem(1890);

			@include media-breakpoint-up(lg) {
				background-color: rgba(255, 255, 255, 0.1);
				backdrop-filter: blur(rem(6));
			}
		}
	}

	&__logo-link {
		position: relative;
		z-index: 99;
		display: block;
		height: rem(60);
		max-width: rem(120);

		@include media-breakpoint-up(lg) {
			height: rem(60);
			max-width: rem(150);
		}

		&:focus {
			color: unset;
		}

		body:not(:has(.block-hero-display)) & {
			&::after {
				position: absolute;
				left: rem(-9);
				content: "";
				display: block;
				width: rem(130);
				height: rem(24);
				margin-top: rem(10);
				background-image: url("../../../images/block-library/logo-shape-white.png");
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;

				@include media-breakpoint-up(lg) {
					left: 0;
					width: rem(140);
					margin-top: 0;
				}
			}


		}

		body:has(.block-hero-display) & {
			img {
				filter: brightness(0) invert(1);
			}
		}
	}

	&__menu {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		z-index: 18;
		flex-direction: column;
		flex-grow: 1;
		width: 100%;
		padding-bottom: var(--totalButtonOffset, #{rem(20)});
		background-color: paint(neutral-1);
		visibility: hidden;
		opacity: 0;
		transform: translateX(100%);
		overflow-y: auto;
		transition: transform 0.3s ease-out, opacity 0.2s linear, visibility 0s 0.2s;

		@include media-breakpoint-up(lg) {
			top: rem(100);
			background-color: transparent;
			transform: none;
		}

		body.admin-bar & {
			top: calc(rem(64) + rem(32));

			@media screen and (max-width: rem(782)) {
				top: calc(rem(64) + rem(46));
			}
		}

		.block-navigation__hamburger.active ~ & {
			padding-top: rem(100);
			visibility: visible;
			opacity: 1;
			transform: translateX(0);
			transition: transform 0.3s ease-out, opacity 0.2s linear, visibility 0s;
		}

		> .wp-block-button {
			position: fixed;
			left: 0;
			bottom: var(--buttonOffset, 0);
			z-index: 20;
			order: 900;
			width: 100%;
			margin: 0;

			@include media-breakpoint-down(md) {
				padding: rem(20);
				background-color: paint(green);
			}

			@include media-breakpoint-up(lg) {
				margin-right: 0;
				margin-left: auto;

				~ .block-navigation-link--right {
					margin-left: 0;
				}

				+ .block-navigation-link--right {
					margin-left: rem(20);
				}

				+ .wp-block-button {
					margin-left: rem(16);
				}
			}

			~ .wp-block-button {
				z-index: 21;
				padding-top: 0;
				box-shadow: none;
			}

			.wp-block-button__link {
				width: 100%;
			}

			&:not([class*="is-style-"]),
			&.is-style-primary,
			&.is-style-secondary {
				.wp-block-button__link {
					@include media-breakpoint-up(lg) {
						@include button-small;
					}
				}
			}

			&.is-style-tertiary {
				.wp-block-button__link {
					@include media-breakpoint-up(lg) {
						@include button-small-tertiary;
					}
				}
			}
		}
	}

	&__hamburger {
		z-index: 9999;
		order: 999;
		display: flex;
		justify-content: center;
		justify-self: flex-end;
		align-items: center;
		width: rem(35);
		height: rem(35);
		margin: rem(-20 -20 -20 0);
		margin-right: rem(5);
		padding: 0;
		border: rem(1) solid paint(green);
		border-radius: 50%;
		background-color: transparent;
		appearance: none;

		&:hover {
			background-color: paint(white);

			body:has(.block-hero-display) & {
				background-color: paint(gold);
			}
		}

		&.active {
			background-color: paint(white);

			.block-navigation__hamburger-inner {
				background: transparent;

				&::before {
					transform: translateY(rem(6)) rotate(45deg);
				}

				&::after {
					transform: translateY(rem(-6)) rotate(-45deg);
				}
			}

			body:has(.block-hero-display) & {
				border: rem(1) solid paint(gold);
				background-color: paint(gold);
			}
		}

		body:has(.block-hero-display) & {
			border: rem(1) solid paint(gold);
		}
	}

	&__hamburger-inner {
		position: relative;
		display: block;
		width: rem(24);
		height: rem(24);
		background: linear-gradient(to bottom, transparent calc(50% - rem(1)), paint(green) calc(50% - rem(1)), paint(green) calc(50% + rem(1)), transparent calc(50% + rem(1)));

		&::before,
		&::after {
			position: absolute;
			left: 0;
			content: "";
			width: 100%;
			height: rem(2);
			background-color: paint(green);
			transition: transform $transition-standard;

			body:has(.block-hero-display) & {
				background-color: paint(white);
			}
		}

		&::before {
			top: calc(50% - rem(7));
		}

		&::after {
			bottom: calc(50% - rem(7));
		}

		body:has(.block-hero-display) & {
			background: linear-gradient(to bottom, transparent calc(50% - rem(1)), paint(white) calc(50% - rem(1)), paint(white) calc(50% + rem(1)), transparent calc(50% + rem(1)));
		}
	}

	&.scrolled {
		.block-navigation__container {
			background-color: unset;
			backdrop-filter: unset;
		}

		.block-navigation__logo-link {
			body:not(:has(.block-hero-display)) & {
				&::after {
					margin-top: 0;
				}
			}
		}
	}
}
