@import "base-includes";

.block-card-image-content {
	.block-cards {
		max-width: 100%;
	}

	&__container {
		text-align: center;

		h2 {
			margin: 0;
		}
	}

	.block-cards__grid {
		grid-template-columns: 1fr;
		gap: rem(24);

		@include media-breakpoint-up(md) {
			grid-template-columns: repeat(2, 1fr);
		}

		@include media-breakpoint-up(lg) {
			grid-template-columns: repeat(3, 1fr);
		}
	}
}
