@import "base-includes";

.block-navigation-submenu {
	position: fixed;
	top: rem(64);
	left: 0;
	bottom: var(--totalButtonOffset, 0);
	z-index: 19;
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: paint(white);
	visibility: hidden;
	opacity: 0;
	overflow-y: auto;
	transition: opacity $transition-standard, visibility 0s 0.2s;

	body.admin-bar & {
		/* stylelint-disable unit-disallowed-list */

		top: calc(rem(64) + 32px);

		@media screen and (max-width: 782px) {
			top: calc(rem(64) + 46px);
		}
		/* stylelint-enable unit-disallowed-list */
	}

	.block-navigation-link.active & {
		visibility: visible;
		opacity: 1;
		transition: opacity $transition-standard, visibility 0s;
	}

	&__header {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		display: flex;
		flex-direction: row;
		align-items: center;
		height: rem(64);
		padding: rem(20);
		padding-right: calc(rem(48) + var(--gutterWidth));
		padding-left: var(--gutterWidth);
		background-color: paint(white);
		visibility: hidden;
		opacity: 0;
		transition: opacity $transition-standard, visibility 0s 0.2s;

		body.admin-bar & {
			/* stylelint-disable unit-disallowed-list */

			top: 32px;

			@media screen and (max-width: 782px) {
				top: 46px;
			}
			/* stylelint-enable unit-disallowed-list */
		}

		.block-navigation-link.active & {
			visibility: visible;
			opacity: 1;
			transition: opacity $transition-standard, visibility 0s;
		}
	}

	&__back-button {
		@include nav-2(false);

		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 0;
		border: none;
		background-color: transparent;
		appearance: none;

		&::before {
			@include icon("chev-left");

			margin-right: rem(4);
		}
	}

	&__header-label {
		@include nav-2(false);

		margin: 0 auto;
	}
}
