@import "base-includes";

.editor-styles-wrapper {
	.block-media-standard {
		.wp-block-embed {
			.wp-block-embed {
				flex: 0 0 100%;
				width: 100%;
				max-width: 100%;
				margin: 0;
			}
		}
	}
}
