@import "base-includes";

.block-hero-profile-standard-accommodation {
	&__container {
		@include media-breakpoint-up(md) {
			@include grid;

			align-items: center;
		}
	}

	&__image-wrapper {
		width: 100%;

		@include media-breakpoint-up(md) {
			grid-column: 7 / span 6;
		}
	}

	&__row {
		align-items: center;
	}

	&__title {
		margin-top: responsive-values(16, 24);
		margin-bottom: responsive-values(16, 24);
	}

	&__meta-bottom {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		margin-top: responsive-values(16, 24);

		span {
			@include subtitle-1(false);

			display: flex;
			flex-direction: row;
			align-items: center;
			margin-right: rem(16);
		}

		.icon {
			margin-right: rem(4);
		}
	}

	&__content {
		margin-bottom: rem(48);

		@include media-breakpoint-up(md) {
			grid-column: 1 / span 6;
			margin-bottom: 0;
		}

		@include media-breakpoint-up(lg) {
			grid-column-end: span 5;
		}
	}
}
