@import "base-includes";

.block-footer {
	position: relative;
	z-index: 1;
	padding-top: rem(96);
	padding-bottom: rem(48);
	background-color: paint(neutral-1);
	background-image: url("../../images/block-library/footer-bg-img.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	&::after {
		position: absolute;
		top: 0;
		left: 0;
		content: "";
		z-index: -1;
		width: 100%;
		height: 100%;
		background-color: paint(neutral-1);
		opacity: 0.75;
	}
}
