@import "base-includes";

.block-card-image-links {
	.block-cards {
		max-width: 100%;
	}

	.block-cards__grid {
		row-gap: responsive-values(48, 64);
	}

	.wp-block-heading {
		max-width: rem(864);
	}
}
