[class^="icon-"],
[class*=" icon-"] {
	display: block;
	width: rem(24);
	height: rem(24);
	background-color: currentcolor;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	-webkit-mask-size: contain;
	mask-size: contain;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-position: center;
	mask-position: center;

	&.icon--multicolor {
		background-color: transparent;
	}
}
