@import "base-includes";

.block-hero-archive-image {
	position: relative;
	z-index: 1;
	padding: 0;
	overflow: hidden;

	&::after {
		position: absolute;
		top: 0;
		content: "";
		z-index: -1;
		width: 100%;
		height: 100%;
		background-color: paint(black);
		opacity: 0.65;
	}

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: responsive-values(284, 528);
		padding-top: rem(144);
		padding-bottom: responsive-values(96, 116);
		text-align: center;
	}

	.parent-bg-div {
		position: absolute;
		bottom: 0;
		width: 100%;

		@include media-breakpoint-up(lg) {
			bottom: rem(-1);
		}
	}
}
