@import "base-includes";

.block-content-section {
	margin: 0;

	&__content {
		> .wp-block-heading {
			&:first-child {
				margin-top: $block-spacing-first-text-child-offset;
			}
		}

		> p {
			margin-bottom: 0 !important;

			&:first-child {
				margin-top: $block-spacing-first-text-child-offset;
			}
		}
	}
}
