@import "base-includes";

.wp-block-separator {
	@include responsive-grid();

	margin: responsive-values(24, 72) auto;
	padding: 0 !important;
	border-width: rem(1) 0 0 0 !important;
	border-top: rem(1) solid paint(text) !important;
}
