@import "base-includes";

.block-card-text-link {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	padding: 0;
	background-color: transparent;

	.wp-block-button {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		justify-content: center;
		align-items: stretch;
		width: 100%;
		min-height: rem(58);
		padding: rem(6 0 8 0);

		&.is-style-tertiary {
			.wp-block-button__link {
				@include title-2(false);

				color: paint(text);
			}
		}

		.wp-block-button__link {
			position: static;
			display: flex;
			justify-content: flex-start;
			width: 100%;
			text-align: left;

			@include alt-button-selectors {
				&::before {
					border-color: paint(white);
				}

				&:hover,
				&:focus {
					&::before {
						border-color: paint(neutral-8);
					}
				}
			}

			&::before {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				content: "";
				display: block !important;
				width: 100%;
				height: 100%;
				border-bottom: rem(2) solid paint(button-default);
				background-color: transparent;
				transition: border $transition-standard;
			}

			&::after {
				margin-left: auto;
			}

			&:hover {
				color: var(--blockHoverColor, paint(button-hover));

				&::before {
					border-color: paint(button-hover);
				}
			}
		}
	}
}
