@import "base-includes";

.block-cards {
	&--4 {
		.block-cards__grid {
			@include media-breakpoint-between(md, md) {
				grid-template-columns: repeat(2, minmax(0, 1fr));
			}
		}
	}

	.content-wrapper > & {
		@include responsive-grid(12, 12, 12, 12, 12, 12);

		margin-right: auto;
		margin-left: auto;
	}

	.acf-block.bg-white + &,
	.acf-block.bg-transparent + & {
		margin-top: 0;
	}

	+ .acf-block.bg-white,
	+ .acf-block.bg-transparent {
		margin-top: responsive-values(-48, -72);
	}

	&:not(:first-child) {
		margin-top: responsive-values(48, 72);
	}

	&:not(:last-child) {
		margin-bottom: responsive-values(48, 72);
	}

	&__grid {
		display: grid;
		grid-template-columns: 1fr;
		row-gap: responsive-values(20, 32);
		column-gap: $grid-gap;

		@include media-breakpoint-up(sm) {
			grid-template-columns: repeat(2, minmax(0, 1fr));
		}

		@include media-breakpoint-up(md) {
			grid-template-columns: repeat(var(--cards_per_row, 3), minmax(0, 1fr));
		}
	}
}
