@import "base-includes";

.block-accordion-side-form {
	@include media-breakpoint-up(xl) {
		background-image: url(../../images/block-library/faq-bg.jpg);
		background-repeat: no-repeat;
		background-position: top right;
		background-size: 30% 100%;
	}

	&__container {
		.wp-block-columns {
			display: flex;
			flex-direction: column;
			row-gap: rem(24);

			@include media-breakpoint-up(xl) {
				flex-direction: row;
				justify-content: space-between;
			}

			.booking-form {
				padding: rem(40);
				color: paint(white);
				border-radius: rem(20);
				background: paint(green);

				.wp-block-contact-form-7-contact-form-selector {
					display: block !important;
				}

				form {
					display: block;
					margin: 0;

					.wpcf7-form-control-wrap {
						display: block;
						padding: 0;
					}

					.thank-you {
						display: none;
					}

					&.sent {
						.thank-you {
							display: block;
						}
					}
				}
			}
		}
	}
}
