@import "base-includes";

.block-testimonial-image {
	position: relative;

	&--has-heading-content {
		.swiper-button-prev,
		.swiper-button-next {
			@include media-breakpoint-down(md) {
				margin-top: rem(8);
				margin-bottom: rem(48);
			}
		}

		.block-testimonial-image__container {
			margin-top: $block-spacing-first-text-child-offset;
		}

		.swiper {
			&:first-child {
				margin-top: responsive-values(32, 48);

				@include media-breakpoint-up(lg) {
					margin-top: responsive-values(48, 72);
				}
			}
		}
	}

	&--no-heading-content {
		.swiper-button-prev,
		.swiper-button-next {
			@include media-breakpoint-down(md) {
				order: 4;
				margin-top: rem(48);
				margin-bottom: 0;
			}
		}

		.block-testimonials {
			@include media-breakpoint-down(md) {
				justify-content: center;
			}
		}
	}

	&--arrows-top {
		.block-testimonial-image__container {
			@include media-breakpoint-up(lg) {
				display: grid;
				grid-template-columns: 1fr repeat(2, rem(48));
				column-gap: rem(8);
				align-items: center;
			}
		}

		.swiper-button-prev {
			margin-right: rem(4);

			@include media-breakpoint-up(lg) {
				grid-area: 1 / 2 / 2 / span 1;
				margin: 0;
			}
		}

		.swiper-button-next {
			margin-left: rem(4);

			@include media-breakpoint-up(lg) {
				grid-area: 1 / 3 / 2 / span 1;
				margin: 0;
			}
		}
	}

	&--arrows-bottom {
		.block-testimonial__swiper-buttons {
			@include media-breakpoint-down(md) {
				display: none;
			}
		}

		.swiper-button-prev,
		.swiper-button-next {
			@include media-breakpoint-down(md) {
				order: 4;
				margin-top: responsive-values(20, 32);
				margin-bottom: 0;
			}
		}

		.swiper-button-prev {
			margin-right: rem(4);
		}

		.swiper-button-next {
			margin-left: rem(4);
		}

		.block-testimonials {
			> .swiper-button-prev,
			> .swiper-button-next {
				@include media-breakpoint-up(lg) {
					display: none;
				}
			}
		}

		&.block-testimonial-image--has-heading-content {
			.swiper {
				margin-top: responsive-values(32, 48);

				@include media-breakpoint-up(lg) {
					margin-top: responsive-values(48, 72);
				}
			}
		}
	}

	&__container {
		> * {
			@include media-breakpoint-up(lg) {
				grid-column: 1 / 2;
			}

			&:nth-last-child(2) {
				@include media-breakpoint-up(lg) {
					margin-bottom: 0;
				}
			}
		}

		> .wp-block-heading {
			@include media-breakpoint-up(lg) {
				&:first-child {
					margin-top: 0 !important;
				}
			}
		}
	}

	.block-testimonials {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		@include media-breakpoint-up(lg) {
			display: contents;
		}
	}

	.block-testimonial {
		@include media-breakpoint-up(md) {
			@include grid();

			display: grid !important;
			align-items: center;
		}
	}

	.block-testimonial__content {
		margin-bottom: responsive-values(16, 24);
	}

	.block-testimonial__image-col {
		@include media-breakpoint-up(md) {
			grid-column: 1 / 6;
		}
	}

	.block-testimonial__image-wrapper {
		padding-bottom: 100%;

		@include media-breakpoint-down(sm) {
			margin-bottom: rem(48);
		}
	}

	.block-testimonial__content-col {
		@include media-breakpoint-up(md) {
			grid-column: 6 / 13;
			width: calc(100% + #{$grid-gap});
			margin-left: calc(#{$grid-gap} * -1);
			padding: 0 responsive-values(20, 80);
		}
	}

	.block-testimonial__quote-icon {
		margin-bottom: responsive-values(12, 16);
	}

	.block-testimonial__logo {
		height: auto;
		margin: 0 auto responsive-values(16, 24) 0;
	}

	.swiper {
		order: 3;

		@include media-breakpoint-up(lg) {
			grid-column: 1 / span 3;
			margin-top: responsive-values(48, 72);
		}
	}

	.swiper-button-prev,
	.swiper-button-next {
		@include media-breakpoint-up(lg) {
			align-self: center;
		}
	}
}
