.acf-block {
	padding: $block-spacing 0;

	&--starts-with-text {
		padding-top: $block-spacing-with-text;
	}

	@each $color, $value in $background-colors {
		&.bg-#{$color} {
			+ .acf-block.bg-#{$color} {
				padding-top: 0;

				&.acf-block--starts-with-text {
					position: relative;
					margin-top: $block-spacing-first-text-child-offset;
				}
			}
		}
	}

	.acf-block--has-sidebar & {
		padding: $block-spacing-with-sidebar 0;
	}

	&__background-image,
	&__background-image-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&__background-image-wrapper {
		z-index: -3;
		overflow: hidden;
	}

	&__background-image {
		z-index: -4;
		object-fit: cover;
		pointer-events: none;
		transition: transform $transition-standard;
	}
}

.acf-innerblocks-container {
	display: contents;
}

.block-inactive {
	body:not(.post-type-archive-library_block):not(.wp-admin) & {
		display: none;
	}
}
