@import "base-includes";

.filter-sort {
	position: relative;

	&__label {
		position: relative;
		padding-right: rem(18);
		white-space: nowrap;
		border: none;
		background: none;

		&::after {
			@include icon("chev-expand", #{rem(16)});

			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
		}

		label {
			@include title-3(false);

			display: inline;

			@include media-breakpoint-up(md) {
				&::after {
					content: ":";
				}
			}
		}

		&-current {
			@include subtitle-2(false);

			padding: 0;
			border: none;
			background: none;
		}
	}

	&__dropdown {
		position: absolute;
		top: calc(100% + rem(8));
		right: 0;
		z-index: 10;
		display: none;
		min-width: calc(100% + rem(20));
		background: paint(white);
		box-shadow: effect(sort);

		button {
			@include subtitle-1(false);

			display: block;
			width: 100%;
			padding: rem(8 8 8 12);
			color: paint(neutral-1);
			white-space: nowrap;
			text-align: left;
			border: none;
			background: none;

			&:hover,
			&:focus {
				background-color: paint(neutral-11);
			}
		}
	}

	&.active &__dropdown {
		display: block;
	}
}

.filters-container__modal .filter-sort {
	width: 100%;

	&__label {
		padding: 0;

		&::after {
			@include icon("chev-expand", #{rem(20)});

			position: absolute;
			top: 50%;
			right: rem(8);
			transform: translateY(-50%);
			pointer-events: none;
		}

		label {
			@include link-1(false);

			position: relative;
			display: block;
			width: 100%;
			height: rem(48);
			margin: 0;
			padding: rem(12 48 12 12);
			text-align: left;
			border: none;
			border-top: rem(1) solid paint(neutral-9);
			background: none;
			cursor: pointer;
		}

		.filter-sort__label-current {
			display: none;
		}
	}

	&.active &__label {
		&::after {
			@include icon("chev-collapse", #{rem(20)});
		}
	}

	&__dropdown {
		position: static;
		min-width: 0;
		box-shadow: none;

		.filter-sort__option {
			&.selected {
				background-color: paint(neutral-11);
			}
		}
	}
}
