@import "base-includes";

.editor-styles-wrapper {
	.block-testimonial-cards {
		.swiper-wrapper {
			display: grid;
			grid-template-columns: repeat(3, minmax(0, 1fr));
		}

		.block-testimonial {
			height: auto;
		}

		&[data-cards-per-row="2"] {
			.swiper-wrapper {
				grid-template-columns: repeat(2, minmax(0, 1fr));
			}
		}
	}
}
