@import "base-includes";

.block-testimonial-cards {
	position: relative;

	&--has-heading-content {
		.swiper-button-prev,
		.swiper-button-next {
			@include media-breakpoint-down(md) {
				margin-top: rem(8);
				margin-bottom: rem(48);
			}
		}

		.block-testimonial-cards__container {
			margin-top: $block-spacing-first-text-child-offset;
		}
	}

	&--no-heading-content {
		.swiper-button-prev,
		.swiper-button-next {
			@include media-breakpoint-down(md) {
				order: 4;
				margin-top: rem(48);
				margin-bottom: 0;
			}
		}

		.block-testimonials {
			@include media-breakpoint-down(md) {
				justify-content: center;
			}
		}
	}

	&__container {
		@include media-breakpoint-up(lg) {
			display: grid;
			grid-template-columns: 1fr repeat(2, rem(48));
			column-gap: rem(8);
			align-items: center;
		}

		> * {
			@include media-breakpoint-up(lg) {
				grid-column: 1 / 2;
			}

			&:nth-last-child(2) {
				@include media-breakpoint-up(lg) {
					margin-bottom: 0;
				}
			}
		}

		> .wp-block-heading {
			@include media-breakpoint-up(lg) {
				&:first-child {
					margin-top: 0 !important;
				}
			}
		}
	}

	.block-testimonials {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-self: stretch;
		height: auto;
		overflow: visible;

		@include media-breakpoint-up(lg) {
			display: contents;
		}
	}

	.block-testimonial {
		align-self: stretch;
		height: auto;
	}

	.block-testimonial__content-col {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		padding: responsive-values(24, 32) rem(32) responsive-values(28, 40);
		color: paint(neutral-1);
		border-radius: rem(20);
		background-color: paint(neutral-11);
		overflow: visible;

		&::before {
			position: absolute;
			top: rem(-30);
			right: responsive-values(20, 24);
			content: "";
			z-index: 10;
			width: rem(62);
			height: rem(62);
			border: rem(4) solid paint(white);
			border-radius: 50%;
			background-color: paint(green);
			background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 40 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 17.92V32h12.8V17.92H6.4C6.4 12.1173 11.1173 7.4 16.92 7.4V0C6.86933 0 0 6.86933 0 17.92zM20.48 17.92V32h12.8V17.92h-6.4c0-5.8027 4.7173-10.52 10.52-10.52V0c-10.0507 0-16.92 6.86933-16.92 17.92z' fill='none' stroke='white' stroke-width='1'/%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-position: center;
			background-size: rem(32) rem(32);
		}
	}

	.block-testimonial__content {
		@include quote-2(false);

		margin-top: 0;
		margin-bottom: responsive-values(16, 24);

		p,
		p:not([class*="-font-size"]) {
			@include quote-2();
		}
	}

	.block-testimonial__slide-footer-content {
		margin-top: auto;
		margin-bottom: 0;
	}

	.swiper {
		order: 3;

		@include media-breakpoint-up(lg) {
			grid-column: 1 / span 3;
			margin-top: responsive-values(48, 72);
		}
	}

	.swiper-button-prev,
	.swiper-button-next {
		@include media-breakpoint-up(lg) {
			align-self: center;
		}
	}

	.swiper-button-prev {
		margin-right: rem(4);

		@include media-breakpoint-up(lg) {
			grid-area: 1 / 2 / 2 / span 1;
			margin: 0;
		}
	}

	.swiper-button-next {
		margin-left: rem(4);

		@include media-breakpoint-up(lg) {
			grid-area: 1 / 3 / 2 / span 1;
			margin: 0;
		}
	}
}
